---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import ActivityCard from "../components/activity_card.astro";
---

<BaseLayout title = "Activitatea echipei">
    <NavBar activeLink = {2} />

    <div class="title-container">
        <span class="title-underline">Activitatea Noastră</span>
    </div>

    <!-- 1. -->
    <ActivityCard
        title = "Robotics for All"
        date = "16-17 august 2025"
        thumbnail = 'assets/coperta articole/_add_Robotics for All.webp'
    > 
        În weekend-ul 16-17 august, Mega Mall București a devenit un loc al inovației și al tehnologiei, găzduind evenimentul 
        „Robotics for All - MEGA Edition”, organizat de echipa <b>Boogeybots #19061</b>.

        <br>În cele două zile pline de entuziasm, pasionați de toate vârstele au avut ocazia să descopere lumea fascinantă 
        a roboticii și să interacționeze cu roboți realizați de echipele participante într-o atmosferă palpitantă, luând 
        parte la vizionarea unor meciuri demonstrative care au stârnit entuziasmul publicului. Tot aici s-au conturat și 
        prietenii noi, pe fondul unei pasiuni comune pentru domeniul STEM.

        <br>Le mulțumim organizatorilor pentru invitație și pentru implicarea acordată în realizarea unui eveniment memorabil. 
    </ActivityCard>

    <!-- 2. -->
    <ActivityCard
        title = "SparkHope Robotics Cup"
        date = "8-9 august 2025"
        thumbnail = '/assets/coperta articole/_add_SparkHope RC.webp'
        thumbnailFocus="50% 25%"
    > 
        În zilele de 8 și 9 august, am avut plăcerea de a lua parte la SparkHope Robotics Cup, un eveniment caritabil de tip 
        competiție offseason organizat de echipa Eastern Foxes(RO_191/19098). Evenimentul a avut loc la Ploiești, la Universitatea 
        de Petrol și Gaze, unde echipa își are hub-ul, iar scopul evenimentului a fost de a strânge fonduri pentru campania 
        <b>#SpitalePubliceDinBaniPrivați</b>.
        
        <br>Cu multă emoție și pozitivitate, echipa noastră a plecat la Ploiești, unde prima zi a fost dedicată amenajării stand-urilor, 
        alături de surprize primite din partea organizatorilor care au constat într-un escape-room detaliat și conferințe fascinante 
        cu speakeri din domeniu, de la care am aflat foarte multe informații interesante. A doua zi, însă, a adus perdeaua grea a 
        competiției mult așteptate, iar odată cu sosirea noastră în interiorul Universității, se putea simți o atmosferă ce urma să 
        erupă cu trecerea timpului.
       
        <br>Competiția în sine a fost presărată cu momente foarte bune, dar și cu câteva situații-cheie, din care am avut numai de 
        învățat pentru viitor. însă per total, aceasta ne-a adus încredere înaintea noului sezon în forțele noastre, dar a fost, totodată, 
        un moment important pentru noii noștri membri, care au avut o primă experiență la un astfel de eveniment, unde atmosfera tensionată 
        de concurs s-a îmbinat cu cunoașterea celorlalte echipe și ale strategiilor acestora de succes, de la care să ne îmbunătățim și noi.

        <br>Vrem să transmitem multe mulțumiri organizatorilor de la <b>Eastern Foxes</b> pentru implicare, seriozitate și pasiunea de care 
        dau dovadă mereu în a împinge limitele acestui domeniu minunat înspre progres. 
    </ActivityCard>

    <!-- 3. -->
    <ActivityCard
        title = "Someș Tech Challenge"
        date = "25-27 iulie 2025"
        thumbnail = '/assets/coperta articole/_add_Somes Tech Challenge.webp'
        thumbnailFocus="50% 10%"
    > 
        În perioada 25-27 iulie, am participat la competiția <b>Someș Tech Challenge</b> organizată de <b>Vectron Robotics #17873</b> 
        la Sala Sporturilor „Petru Stăvariu” Dej, Cluj.

        <br>Aceasta a reprezentat o oportunitate de a ne reface robotul de competiție de la zero, oferindu-le noilor membrii ai 
        clubului nostru șansa de a lucra la un proiect concret.

        <br>Totodată, participarea la această ediție a STC, ne-a oferit șansa să ne testăm abilitățile și noul robot, să ne bucurăm de 
        spiritul de competiție în perioada extrasezonului alături de celelalte echipe.

        <br>Mulțumim, <b>Vectron Robotics #17873</b>, pentru organizarea acestei competiții! 
    </ActivityCard>

    <!-- 4. -->
    <ActivityCard
        title = "Bootcamp + Recrutări"
        date = "23 iunie - 4 iulie, 16-18 iulie 2025"
        thumbnail = '/assets/coperta articole/_add_Bootcamp si Recrutari.webp'
        thumbnailFocus="50% 10%"
    > 
        În perioada 23 iunie-4 iulie a fost organizat bootcamp-ul pentru departamentele de <b>Programare</b> și <b>Mecanică</b>, 
        iar în perioada 16-18 iulie a fost organizat bootcamp-ul pentru departamentul non-tehnic, pentru <b>PR</b> și <b>Grafică</b>.

        <br>Recrutările s-au desfășurat în 3 etape: <b>formularul</b>, <b>interviurile</b> și <b>bootcamp-ul</b>. Interviurile au fost 
        organizate de echipa ZENITH, iar întrebările au fost puse de membrii de la departamentul specific la care candidații 
        aplicau.
        
        <br>În această perioadă am urmărit creativitatea și implicarea fiecărui candidat pentru a putea alege cât 
        mai bine membrii noi ai echipei ZENITH care ne reprezintă și pentru a oferi fiecărui participant șansa de a face 
        parte din echipă.
        
        <br><b>Perioada de bootcamp</b> reprezintă perioada în care membrii nou-veniți comunică cu membrii care au deja experiență 
        și care sunt de mult timp în club, reușind astfel să combine entuziasmul cu răbdarea și învățarea.
        
        <br>Fiecare activitate a fost gândită cu scopul de a le pune la încercare abilitățile și modul de gândire al participanților, 
        reușind să ne dea astfel o imagine asupra fiecăruia dintre ei. Exercițiile au fost diverse în funcție de fiecare departament,
        precum: monolog persuasiv la <b>PR &amp; Marketing</b>, redesign de logo la Grafică, construirea unui robot la <b>Mecanică</b> și programarea acestuia 
        la <b>Programare</b>.
        
        <br><br><b>Bootcamp-ul</b> nu a fost doar o perioadă de selectare a noilor membri, ci și o perioadă în care <b>competitivitatea</b> și <b>spiritul</b> 
        de echipă s-au îmbinat pentru a crea o echipă unită, care poate trece peste orice provocare, dar și o experiență de învățare.
    </ActivityCard>

    <!-- 5. -->
    <ActivityCard
        title = "Ziua Porților Deschise"
        date = "16 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_Ziua Portilor Deschise.webp'
        thumbnailFocus="50% 20%"
    > 
        Pe 16 iunie 2025, la Colegiul Național „Grigore Moisil” a avut loc evenimentul „Ziua Porților Deschise”. 
        Cu această ocazie, elevii de clasa a VIII-a au putut să cunoască mai bine liceul și activitatea clubului nostru, 
        dar și să afle detalii despre câteva dintre proiectele cu care ne-am remarcat la diferite competiții.

        <br> În timpul turului, am avut ocazia de a prezenta vizitatorilor laboratorul SMART. Acolo, membrii clubului 
        nostru au prezentat robotul nostru de competiție, roboții FABLE, imprimantele 3D, ochelarii VR și multe alte proiecte. 
        Mulți dintre vizitatori au fost impresionați de modul în care munca noastră combină creativitatea cu tehnologia, 
        iar întrebările lor curioase ne-au arătat că interesul pentru robotică este în continuă creștere.
        
        <br><br> Le mulțumim tuturor celor care ne-au fost alături la acest eveniment și sperăm ca experiența trăită 
        să îi inspire să ni se alăture pe viitor, transformând „Grigore Moisil” într-un loc unde pasiunea pentru robotică 
        prinde viață.
    </ActivityCard>

    <!-- 6. -->
    <ActivityCard
        title = "Tech Expo"
        date = "14-15 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_Tech Expo.webp'
        thumbnailFocus="50% 5%"
    > 
        Pe 14 și 15 iunie 2025, am participat cu stand la evenimentul Tech Expo din cadrul <b>Bucharest Tech Week</b>, 
        cel mai important festival de tehnologie din România, susținut la Romexpo, la București.

        <br> Am organizat, alături de <b>Robo-Sapiens #19117</b>, <b>Gamma #15991</b>, <b>Brave Bots #19141</b>, <b>AstraDynamix #24964</b>, 
        <b>Soft Hoarders #12560</b> și <b>AlphaBit #19120</b>, meciuri demonstrative pentru vizitatori, arătând live cum se desfășoară 
        un meci de FTC al sezonului Into The Deep și frumusețea roboticii la nivelul competițiilor pentru tineri. 
        
        <br><br> Mulțumim Universum, Bucharest Tech Week și Romexpo, pentru organizarea acestui eveniment și 
        pentru șansa oferită de a ne împărtăși cunoștințele despre STEM și First Tech Challenge cu publicul larg!
    </ActivityCard>

    <!-- 7. -->
    <ActivityCard
        title = "Opera Comică pentru Copii!"
        date = "7-8 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_OperaComica.webp'
    > 
        În weekendul 7-8 iunie 2025 am participat la Festivalul Opera Copiilor, iar vizitatorii au putut interacționa cu 
        roboții noștri, au descoperit cum funcționează imprimantele 3D și au participat la experimente interactive realizate chiar de noi.
        
        <br>Am răspuns cu entuziasm întrebărilor celor mici, le-am explicat conceptele din spatele tehnologiei prezentate și 
        le-am oferit o primă experiență în universul fascinant al științei!

        <br>Prin aceste activități, ne-am propus nu doar să prezentăm rezultatele muncii noastre, ci și să aducem tehnologia mai 
        aproape de comunitate. Am dorit să trezim interesul copiilor și adolescenților pentru domeniile STEM și să arătăm că oricine, 
        cu suficientă curiozitate și perseverență, poate contribui la inovație. 
    </ActivityCard>

    <!-- 8. -->
    <ActivityCard
        title = "West Side Flower Fest"
        date = "30 mai - 1 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_FlowerFest2025.webp'
    > 
        În perioada 30 mai-1 iunie 2025, am avut prilejul de a participa la festivalul „West Side Flower Fest", 
        organizat de Primăria Sectorului 6 în Parcul Moghioroș-Drumul Taberei, festival ce s-a axat, în principal, 
        pe magia naturii îngemănată cu spectacolul pe care omul îl poate face în comuniune cu aceasta.

        <br> Cu acest gând în minte, echipa noastră s-a pregătit temeinic pentru a oferi vizitatorilor 
        o experiență de neuitat în domeniul vast al roboticii și științelor STEM, în același timp păstrând vie grija 
        față de natură și mediul înconjurător. Pe parcursul acestui eveniment am ales să ne organizăm sub forma unui 
        stand, la care să expunem cele mai importante elemente ale clubului nostru, atât din partea tehnică: Robotul FTC, 
        fables; cât și din partea non-tehnică: magneți, brelocuri, stickere.
        
        <br> Pe lângă interesul major acordat Robotului de competiție, la care echipa noastră a răspuns 
        cu multă răbdare și îndemânare, am pus la dispoziție oaspeților noștri Imprimanta 3D a clubului, cu 
        ajutorul căreia am oferit perspective noi în producerea materialelor promoționale și nu numai, iar vizitatorii, 
        vizibil interesați, au avut numeroase întrebări provocatoare, la care am răspuns cu încredere, pasiune, și multă 
        atenție la detalii.
        
        <br> Cu ajutorul unor condiții de lucru la superlativ puse la dispoziție de către organizatori, 
        clubul nostru nu numai că a reușit să ofere o experiență interesantă celor peste 1000 de vizitatori 
        și noi perspective fascinante în domeniul roboticii, ci și a reușit să ducă mai departe tradiția și 
        valorile acestui eveniment important, mereu destinate legăturii delicate a omului cu natura ce îl înconjoară.
        
        <br><br> Dorim, pe această cale, să le mulțumim organizatorilor pentru oportunitatea oferită 
        și vom participa, pe viitor, la cât mai multe astfel de evenimente urbane și interesante.
    </ActivityCard>

    <!-- 9. -->
    <ActivityCard
        title = "Astrofest"
        date = "24 mai 2025"
        thumbnail = '/assets/coperta articole/_add_Astrofest2025.webp'
        thumbnailFocus="50% 20%"
    > 
        Pe 24 mai 2025, echipa noastră a participat la <b>Astrofest 2025</b>, un eveniment 
        dedicat științei, tehnologiei și explorării spațiale. În cadrul acestuia, am avut ocazia să prezentăm 
        proiectele noastre și să împărtășim interesul pentru robotică cu un public numeros și entuziast.

        <br> La standul nostru, vizitatorii au putut explora diferite prototipuri și sisteme realizate 
        de echipă, au interacționat direct cu roboții construiți și au aflat detalii despre competițiile și 
        activitățile în care suntem implicați. Ne-am bucurat să răspundem întrebărilor, să inspirăm tinerii 
        interesați de domeniul tehnologic și să schimbăm idei cu alți pasionați de inovație.
    </ActivityCard>

    <!-- 10. -->
    <ActivityCard
        title = "Robotics Quest"
        date = "10 mai 2025"
        thumbnail = '/assets/coperta articole/_add_Robotics Quest.webp'
        thumbnailFocus="50% 30%"
    > 
         Pe 10 mai 2025, la ParkLake Shopping Center, am organizat, împreună cu echipele 
        <b>RoboSapiens #19117</b> și <b>ILC Robotix #25149</b>, evenimentul 
        <i>Robotics Quest</i>. Vizitatorii au avut ocazia să descopere roboți, tehnologii de imprimare 
        3D și să afle mai multe despre activitățile noastre și despre domeniul roboticii.

        <br> Evenimentul a inclus ateliere de pictură, realizare de figurine 3D, meciuri 
        demonstrative cu roboți și activități interactive pentru toate vârstele, care au stârnit 
        curiozitate și entuziasm. Participanții au avut ocazia să experimenteze tehnologia într-un 
        mod practic și atractiv, iar noi ne-am bucurat să inspirăm și să atragem persoane pasionate 
        de știință, inovație și robotică.
    </ActivityCard>

    <!-- 11. -->
    <ActivityCard
        title = "Eggdrop Challenge, ediția 4"
        date = "31 aprilie 2025"
        thumbnail = '/assets/coperta articole/_add_Eggdrop_Edit4.webp'
    > 
        În data de 31 aprilie, în curtea Colegiului Național „Grigore Moisil”, am avut 
        plăcerea de a organiza a 4-a ediție a competiției <b>EggDrop Challenge</b>, un eveniment 
        important în comunitatea atât a clubului, cât și a liceului.

        <br> În cadrul evenimentului, elevii de gimnaziu au avut ocazia să concureze unii 
        împotriva altora într-un concurs ce evidențiază creativitatea și spiritul de echipă, 
        punându-le la încercare abilitățile de gândire critică și ingeniozitate tehnică. Participanții 
        au trebuit să construiască dispozitive menite să protejeze un ou crud de impactul unei căderi 
        de la înălțime, folosind materiale simple și accesibile.
        
        <br> Dispozitivele au fost evaluate ținând cont de mai multe puncte de vedere, 
        cum ar fi rezistența, originalitatea și prezentarea acestora în fața juriului.
        
        <br><br> Evenimentul s-a încheiat cu zâmbete, aplauze și mult entuziasm, lăsând în 
        urmă nu doar câștigători, ci și amintiri frumoase și dorința de a reveni la edițiile viitoare.
    </ActivityCard>

    <!-- 12. -->
    <ActivityCard
        title = "Conferința „Power of Now”"
        date = "11 aprilie 2025"
        thumbnail = '/assets/coperta articole/_add_Power of Now.webp'
    > 
        Pe data de 11 aprilie 2025 am participat la Conferința „Power of Now”, 
        organizată de <b>Fundația The Duke of Edinburgh's International Award Romania 
        la Universitatea Româno-Americană</b>.
            
        <br> În cadrul acesteia am avut ocazia de a prezenta activitatea clubului 
        nostru, promovând totodată domeniul STEM în rândul tinerilor și nu numai, 
        evidențiind importanța inovației și a colaborării.
        
        <br><br> De asemenea, discursurile celor 10 speakeri ne-au inspirat să muncim, 
        indiferent de situație, în continuare, pentru visul nostru, demonstrând că perseverența, 
        curajul și motivația sunt esențiale pentru succes.
    </ActivityCard>

    <!-- 13. -->
    <ActivityCard
        title = "Evenimentul „I LOVE Tech”"
        date = "29 martie 2025"
        thumbnail = '/assets/coperta articole/_add_I Love Tech.webp'
        thumbnailFocus="50% 30%"
    > 
        Ziua de 29 martie 2025 a fost dedicată pasionaților de tehnologie, 
        inovație și viitor, iar pentru noi, a fost ocazia perfectă pentru a ne 
        împărtăși experiențele și pasiunea pentru ceea ce facem, în cadrul evenimentul 
        "I LOVE Tech", organizat de Hipo la Sala Palatului din București.

        <br> Am avut oportunitatea de a prezenta clubul nostru, promovând 
        robotica în rândul tinerilor și nu numai, interacționând și cu reprezentanți 
        ai companiilor de top. Schimburile de idei, întrebările primite și interesul 
        real manifestat față de proiectele noastre ne-au motivat să să continuăm drumul 
        cu entuziasm și curaj.
        
        <br><br> Activitatea noastră a atras atenția mass-mediei, iar prin 
        interviul difuzat la Digi 24 am avut ocazia să îi încurajăm pe elevi să fie 
        curioși și să se implice în domeniul STEM!
    </ActivityCard>

    <!-- 14. -->
    <ActivityCard
        title = "Regionala FIRST Tech Challenge - Sezonul #9"
        date = "7-9 februarie 2025"
        thumbnail = '/assets/coperta articole/_add_Regionala9.webp'
    > 
        Regionala Sud a sezonului #9 din cadrul concursului FIRST Tech 
        Challenge a reprezentat o experiență intensă, plină de competiție, 
        prietenie și descoperiri. Evenimentul a reunit zeci de echipe pasionate 
        de robotică, oferind un cadru unde inovația, munca de echipă și 
        creativitatea au fost în prim-plan.

        <br> Am avut ocazia să ne demonstrăm abilitățile tehnice, dar 
        și să evidențiem valorile care definesc echipa. Meciurile pline de emoții, 
        interviurile și activitățile de la stand au fost momentele definitorii 
        ale Regionalei.
        
        <br><br> Atmosfera competiției și cele 5 meciuri câștigate din 
        totalul de 6 ne-au motivat să dăm tot ce avem mai bun, ajutându-ne să 
        creștem ca echipă și să ducem pasiunea pentru robotică la un nou nivel.
    </ActivityCard>

    <!-- 15. -->
    <ActivityCard
        title = "Uniți prin Robotică"
        date = "23-24 ianuarie 2025"
        thumbnail = '/assets/coperta articole/Uniti_prin_robotica.webp'
        thumbnailFocus="50% 25%"
    > 
        În perioada 23-24 ianuarie 2025, cu ocazia Micii Uniri, am
        organizat evenimentul "Uniți prin Robotică", ce a avut scopul de a
        inspira comunitatea și de a demonstra cum pasiunea pentru domeniul
        STEAM poate uni generații.

        <br> În cadrul acestuia au avut loc ateliere de pictură,
        de creat figurine 3D, meciuri de fotbal cu roboții Fable și
        demonstrații cu robotul FTC, oferindu-le vizitatorilor ocazia de
        a descoperi câteva aplicații practice ale roboticii.
        
        <br><br> La eveniment au participat echipele Broboți,
        Titans și Robo-Sapiens, cărora le mulțumim pentru implicare! De
        asemenea, mulțumim Plaza România pentru spațiul oferit!
    </ActivityCard>

    <!-- 16. -->
    <ActivityCard
        title = "Urmează-ți pasiunea! - Conferința Limitless Boundaries"
        date = "12 ianuarie 2025"
        thumbnail = '/assets/coperta articole/Limitless_Boundaries.webp'
    > 
        Pe 12 ianuarie, am organizat conferința „Limitless
        Boundaries”, un eveniment dedicat depășirii limitelor din calea
        succesului. Participanți de toate vârstele au avut ocazia să
        întâlnească invitați din domeniul STEM, care au împărtășit povești
        despre provocările întâlnite și modalitățile prin care au reușit
        să le depășească, ajungând niște persoane extraordinare.

        <br> Invitații noștri - Adelina Biliuță (Alumni Volta
        Circuits #20972 și Nație prin Educație), Ioan Nistor (Senior
        Database Architect Oracle) , Daria Gheorghiaș (Team Leader
        Broboți #19176), Andru Duminică (Alumni RoSophia #21455 ), Ioana
        Preda (Team Leader Zenith), Irina Nicolescu (Lider PR &amp;
        Marketing Zenith), Mihai Bobeică (Alumni Zenith) și Andrei
        Iatagan (Alumni Zenith) - au relatat momentele definitorii din
        viețile lor, atât cele dificile, cât și cele bune, arătându-ne
        că visele pot deveni realitate cu perseverență și pregătire.
        
        <br><br> Mulțumim Facultății de Transporturi din cadrul
        Universității Naționale de Știință și Tehnologie Politehnica
        București pentru sprijinul acordat și pentru punerea la
        dispoziție a unei săli încăpătoare, dar mai ales mulțumim
        tuturor participanților care au contribuit la succesul acestui
        eveniment!
    </ActivityCard>

    <!-- 17. -->
    <ActivityCard
        title = "De Crăciun, fii mai bun! - Spiridușii Moșului"
        date = "18 decembrie 2024"
        thumbnail = '/assets/coperta articole/Spiridusii_mosului.webp'
        thumbnailFocus="50% 70%"
    > 
         Cu ocazia apropierii Crăciunului, am decis ca pe 18
        decembrie 2024 să surprindem elevii de gradinița Centrului de zi
        „Sfântul Andrei” din Drumul Taberei cu o prezentare a roboților și
        câteva surprize.

        <br> Pe parcursul activității, le-am prezentat celor 30
        de copii pe scurt în ce constă competiția FTC și le-am aratat
        cum funcționează roboții fable și un robot construit în cadrul
        colaborării noastre cu NextLab, surprinzând magia roboților. În
        urma prezentării, le-am împărțit copiilor mai multe ornamente
        realizate cu ajutorul imprimantelor 3D, stickere tematice
        sărbătorii Crăciunului, cu mascota echipei noastre, cei mici
        fiind fascinați de toate lucrurile pe care le poți realiza
        datorită tehnologiei. Astfel, am avut șansa să le facem o
        bucurie copiilor, înainte de vacanța de iarnă, și să arătăm
        frumusețea roboticii chiar și celei mai mici generații,
        utilizând spiritul Crăciunului.
    </ActivityCard>

    <!-- 18. -->
    <ActivityCard
        title = "Târgul Caritabil de Crăciun în CNGM"
        date = "13 decembrie 2024"
        thumbnail = '/assets/coperta articole/Targ_caritabile.webp'
        thumbnailFocus="50% 92%"
    > 
        Pe data de 13 decembrie 2024, am participat la Târgul
        Caritabil de Crăciun organizat de Consiliul Școlar al Elevilor din
        cadrul Colegiului Național „Grigore Moisil”.

        <br> Pentru standul nostru, am pregătit figurine și
        decorațiuni pentru bradul de Crăciun, printate cu ajutorul
        imprimantelor 3D. În cadrul târgului le-am explicat elevilor și
        modalitatea de obținere a produselor pe care le-am vândut,
        astfel că aceștia au devenit curioși și interesați de
        activitatea noastră. Ne-am bucurat că am putut să îmbinăm
        domeniul tehnologiei cu faptele bune și să contribuim la
        oferirea meselor calde pentru copiii din cadrul Fundației Joyo,
        locul unde au ajuns toți banii strânși.
    </ActivityCard>

    <!-- 19. -->
    <ActivityCard
        title = "Atelier de robotică, alături de Nextlab"
        date = "20 noiembrie 2024"
        thumbnail = '/assets/coperta articole/Nextlab.webp'
    > 
        Pe data de 20 noiembrie, am avut bucuria de a participa,
        alături de alți elevi ai Colegiului Național „Grigore Moisil”, la
        o prezentare fascinantă susținută de reprezentanți ai NextLab,
        având ca subiect roboții ArmPi Pro. Evenimentul a fost o
        oportunitate extraordinară de a explora atât partea practică, cât
        și cea teoretică a utilizării acestor roboți avansați.

        <br> În cadrul sesiunilor practice, am lucrat în echipe
        pentru a pune în aplicare ceea ce am învățat, ceea ce ne-a
        permis să îmbunătățim colaborarea și coordonarea în grup. Un alt
        aspect memorabil al evenimentului a fost organizarea unor mici
        concursuri de către echipa NextLab, care au adus un plus de
        entuziasm și motivație. Aceste competiții ne-au pus la încercare
        gândirea logică, viteza de reacție și spiritul inovativ,
        transformând învățarea într-o experiență plăcută și dinamică.
        
        <br><br> Evenimentul organizat de NextLab a fost mai
        mult decât o simplă demonstrație - a fost o sursă de inspirație
        și o experiență care ne-a îmbogățit atât cunoștințele, cât și
        pasiunea pentru tehnologie.
    </ActivityCard>

    <!-- 20. -->
    <ActivityCard
        title = "Atelier de robotică - Festivalul Toamnei"
        date = "7 noiembrie 2024"
        thumbnail = '/assets/coperta articole/Atelier_de_robotica.webp'
    > 
        Pe data de 7 noiembrie 2024, am organizat un atelier de
        robotică pentru elevii de gimnaziu, în cadrul Festivalului
        Toamnei, organizat de Consiliul Școlar al Elevilor din Colegiul
        Național „Grigore Moisil”.

        <br> Scopul atelierului a fost de a le prezenta copiilor
        roboții Fable și de a îi învăța cum se pot programa aceștia. Au
        fost încurajați să lucreze în echipă, să colaboreze și să își
        împărtășească ideile pentru a găsi cele mai eficiente soluții
        pentru a simula un meci de fotbal între roboți. Entuziasmul
        elevilor și dorința lor de a testa cât mai multe comenzi pentru
        acești roboți ne-a demonstrat că pasiunea pentru domeniul
        tehnologiei este prezentă încă de la o vârstă fragedă, astfel că
        prin activitățile noastre ne propunem să îi încurajăm să fie
        curioși și să descopere, pas cu pas, acest domeniu.
    </ActivityCard>

    <!-- 21. -->
    <ActivityCard
        title = "Alături de elevi - Zenith prin școli"
        date = "7 octombrie 2024 - 4 februarie 2025"
        thumbnail = '/assets/coperta articole/Alaturi_de_elevi.webp'
        thumbnailFocus="50% 30%"
    > 
        În perioada 7 octombrie 2024 - 4 februarie 2025, am susținut
        prezentări la 10 școli gimnaziale, respectiv: Școala Gimnazială
        „Sfinții Voievozi”, Școala Gimnazială „Orizont”, Școala Gimnazială
        Nr. 142, Școala Gimnazială „Sfinții Constantin și Elena”, Școala
        Gimnazială Nr. 169, Școala Gimnazială „Regina Maria”, Școala
        Gimnazială Nr. 117, Școala Gimnazială Nr. 195, Școala Gimnazială
        Nr. 279 și Școala Gimnazială Nr. 174.

        <br> În cadrul fiecărei prezentări, am realizat câte o
        descriere a concursului FTC și a departamentelor echipei noastre
        de robotică, evidențiindu-le elevilor valorile FIRST.
        Prezentările noastre au inclus, de asemenea, demonstrații cu
        roboți Fable și roboți construiți din kiturile educaționale
        oferite de NextLab.
        
        <br><br> Prin aceste activități,
        le-am oferit elevilor șansa să-și descopere pasiunea pentru
        domeniile STEAM, respectiv lumea roboticii.
    </ActivityCard>

    <!-- 22. -->
    <ActivityCard
        title = "Premiul pentru Digitalizare - Gala Elevului Bucureștean"
        date = "6 octombrie 2024"
        thumbnail = '/assets/coperta articole/Premiu_pentru_digitalizare.webp'
    > 
        În data de 6 octombrie, am participat la Gala Elevului
        Bucureștean, organizată de Consiliul Municipal al Elevilor
        București, la secțiunea de „Digitalizare”, unde am prezentat
        activitățile clubului nostru, întorcându-ne acasă cu premiul
        acestei categorii.

        <br> Faptul că am putut promova robotica într-un
        eveniment dedicat nu numai elevilor pasionați de tehnologie, ci
        întregii comunități școlare, a reprezentat un moment de
        recunoștință față de ce am realizat, și, în același timp, o
        acțiune care ne-a inspirat să continuăm să motivăm, la rândul
        nostru, alte persoane.
    </ActivityCard>

    <!-- 23. -->
    <ActivityCard
        title = "Promovând știința - Noaptea Cercetătorilor"
        date = "27 septembrie 2024"
        thumbnail = '/assets/coperta articole/Promovand_Stiinta.webp'
    > 
        Pe data de 27 septembrie 2024, am participat ca expozanți,
        în colaborare cu Asociația „Universitatea Copiilor”, la Noaptea
        Cercetătorilor Europeni, din București. Ne-am prezentat cu un
        proiect realizat de doi dintre membrii noștri, numit PET.R.U., ce
        reciclează sticle uzuale de PET și creează filament din acestea ce
        poate fi folosit la printarea de obiecte 3D.

        <br> Publicul principal, copiii, a fost captivat de
        inițiativa noastră de a recicla. Faptul că putem atribui o nouă
        întrebuințare unui material este un prilej optim de a fi mai
        sustenabili și de a încuraja persoanele din jurul nostru să se
        implice în acțiuni ecologice. Un lucru pe care l-am observat la
        acest eveniment a fost faptul că, în afară de ceea ce am expus
        la stand, nu au mai existat și alte activități interactive.
        Astfel, ne-am propus ca pe viitor, acolo unde este posibil, să
        introducem mai multe activități în care să fie implicat și publicul.
    </ActivityCard>

    <!-- 24. -->
    <ActivityCard
        title = "Finalist Alliance - Open Robotics Intelligent Grid "
        date = "1-8 septembrie 2024"
        thumbnail = '/assets/coperta articole/Tabara_Timisoara_2024.webp'
    > 
        În perioada 1-8 septembrie 2024, am fost prezenți la tabăra
        Open Robotics Intelligent Grid, organizată de Universitatea de
        Vest din Timișoara și de echipa de robotică CSH, a Colegiului
        Național Pedagogic „Carmen Sylva”.

        <br> Echipa participantă a fost formată din nouă membri
        și un mentor. Pregătiți pentru orice provocare, am întâmpinat
        entuziasmați tema de joc a taberei. Cu motivația de a oferi cele
        mai bune versiuni ale lor, cinci zile mai târziu, reprezentanții
        Clubului de Robotică „Zenith” au debutat cu un robot care a
        impresionat prin inovație. 
        
        <br><br> Meciurile au avut loc la Iulius Mall Timișoara, într-o atmosferă plină de suspans.
        Am fost aleși în alianță în semifinala concursului de către
        echipa Teoretika, câștigând meciul și trecând, mai departe, în
        finală. Alături de ei am trăit momentele finalei cu multă
        emoție. În urma rezultatelor, am obținut locul al doilea și
        trofeul „Finalist Alliance”. 
        
        <br><br> Tabăra Open Robotics Intelligent Grid a fost un prilej minunat de pregătire
        pentru următorul sezon al competiției FTC. Totodată, am format
        noi legături, prietenii, cu celelalte echipe de robotică,
        împărtășind împreună cunoștințe și amintiri.
    </ActivityCard>

    <!-- 25. -->
    <ActivityCard
        title = "Ne mărim echipa! - Bootcamp Zenith"
        date = "8-19 iulie 2024"
        thumbnail = '/assets/coperta articole/Bootcamp_2024.webp'
    > 
        În perioada 8 - 19 iulie 2024, s-a desfășurat bootcamp-ul
        Clubului de Robotică Zenith, în SmartLab-ul Colegiului Național
        „Grigore Moisil”.

        <br> Asemenea bootcamp-ului din 2023, acesta a avut ca
        scop recrutarea noilor membri pasionați de robotică. Cei care au
        fost admiși la bootcamp în urma interviurilor din luna iunie, au
        asistat la prezentări generale ale celor 4 departamente -
        mecanică, programare, grafică și PR - și au avut ocazia să
        transpună în practică informațiile dobândite.
        
        <br><br> Pregătirea pentru departamentul de grafică a
        constat în realizarea diverselor materiale promoționale cu
        design-ul echipei noastre, iar pentru departamentul de PR au
        avut loc ședințe despre administrarea rețelelor de socializare
        și contactarea sponsorilor. Nu în ultimul rând, cei care și-au
        dorit să facă parte din departamentul de mecanică au avut șansa
        să-și aprofundeze cunoștințele în proiectarea 3D, prin
        intermediul programului Autodesk Fusion, iar, alături de grupa
        de programare, au reușit, până la finalul celor 2 săptămâni de
        bootcamp, să proiecteze, să asambleze și să programeze un robot
        funcțional. 
        
        <br><br> În final, am simulat atmosfera de
        concurs printr-o mini-competiție inspirată de tema de joc de
        acum doi ani, PowerPlay. 
        
        <br><br> Bootcamp-ul de anul
        acesta a reprezentat o șansă pentru fiecare participant să își
        dezvolte aptitudinile practice la nivelul roboticii, alături de
        persoane ce împărtășesc aceeași pasiune.
    </ActivityCard>

    <!-- 26. -->
    <ActivityCard
        title = "EggDrop Challenge, ediția III"
        date = "16 aprilie 2024"
        thumbnail = '/assets/coperta articole/EggDrop_Challenge_2024.webp'
    > 
        Pe data de 16 aprilie 2024, s-a desfășurat concursul EggDrop
        Challenge, organizat de Clubul de Robotică Zenith, în cadrul
        Colegiului Național „Grigore Moisil”.

        <br> Aceasta a fost a treia ediție a concursului devenit
        deja tradiție a clubului. EggDrop Challenge a fost și anul
        acesta un prilej de entuziasm atât pentru participanți, cât și
        pentru cei care au făcut posibilă desfășurarea sa. Dispozitivele
        au respectat cerințele enumerate în regulamentul concursului,
        iar echipele au reușit să obțină punctaje satisfăcătoare. Am
        fost foarte încântați să observăm elevi de liceu, dar și colegi
        mai mici, din gimnaziu, implicându-se în domeniul STEM.
        
        <br><br> Astfel, am realizat că, prin evenimente pe
        care le organizăm, contribuim cu pași mici în comunitatea
        noastră și ne îndeplinim mai departe misiunea clubului.
    </ActivityCard>

    <!-- 27. -->
    <ActivityCard
        title = "Motivate Award III - Regională FIRST Tech Challenge"
        date = "26-28 ianuarie 2024"
        thumbnail = '/assets/coperta articole/Echipa_regionala.webp'
    > 
        În luna ianuarie 2024, Clubul de Robotică Zenith a
        participat la etapa regională, organizată la București, a
        competiției internaționale FIRST Tech Challenge. Acolo am
        prezentat juraților viziunea noastră asupra robotului, alături de
        activitatea desfășurată de-a lungul sezonului, cât și în
        extrasezon. De asemenea, am menționat evenimentele la care am fost
        invitați, alături de cele organizate în cadrul Colegiului Național
        „Grigore Moisil” și concursurile de tip League Meets la care am participat.

        <br> Datorită oportunității de a fi prezenți atât la
        Regională, cât și la League Meets, am avut șansa să cunoaștem
        echipe extraordinare, să împărtășim cunoștințe și să ne ajutăm
        reciproc. Am descoperit metode noi de îmbunătățire a robotului
        și, indiferent de obstacolele întâlnite, am rămas uniți și am
        cultivat, mai departe, spiritul de Gracious Professionalism.
        
        <br><br> În urma implicării noastre în comunitatea
        concursului în calitate de voluntari și de organizatori ai mai
        multor evenimente, am obținut locul al III-lea la categoria
        Motivate Award. Acesta a devenit primul premiu non-tehnic
        dobândit până acum de echipa noastră.
    </ActivityCard>

    <!-- 28. -->
    <ActivityCard
        title = "Primirea delegației Organizației pentru Cooperare și Dezvoltare Economică"
        date = "6 decembrie 2023"
        thumbnail = '/assets/coperta articole/Delegatie_OCDE_2023.webp'
    > 
        Pe data de 6 decembrie 2023 am susținut o prezentare a
        proiectelor noastre în fața unei delegații din partea Organizației
        pentru Cooperare și Dezvoltare Economică (OCDE). Evenimentul a
        reprezentat o oportunitate unică de a împărtăși viziunea și
        realizările echipei noastre în domenii de mare actualitate și importanță.

        <br> Proiectele prezentate au fost structurate în jurul a
        două teme principale: "Smart City" și "Colonizarea planetei
        Marte". În acest context, am transformat laboratorul SMART din
        cadrul colegiului într-o reprezentare a planetei Marte, în timp
        ce laboratorul de fizică a fost configurat să reprezinte planeta
        Pământ. Pe "planeta Marte" am prezentat robotul de FTC și
        roboții de tip Fable, ce demonstrează abilitățile noastre în
        domeniul roboticii și al ingineriei avansate. Aceste proiecte au
        evidențiat potențialul tehnologic necesar pentru explorarea și
        colonizarea altor planete. Pe "planeta Pământ" am prezentat o
        gamă variată de soluții inteligente pentru mediul urban. Printre
        proiectele noastre, s-au numărat o casă inteligentă, un lift
        funcțional cu senzori și mini roboți-mașină lego cu semaforizare
        automată. 
        
        <br><br> În plus, am simulat centre de cercetare avansată în domenii precum optică, 
        energie nucleară și medicină, folosind aparatură și imagini specifice. Aceste centre
        au fost menite să ilustreze complexitatea și diversitatea cercetărilor științifice 
        care pot contribui la dezvoltarea tehnologică și științifică a societății. 
        
        <br><br> Ne bucurăm că am avut oportunitatea de a ne prezenta proiectele în
        fața unei audiențe atât de prestigioase și că am contribuit la
        promovarea domeniului STEM!
    </ActivityCard>

    <!-- 29. -->
    <ActivityCard
        title = "Winning Alliance - Open Robotics Intelligent Grid "
        date = "2-10 septetmbrie 2023"
        thumbnail = '/assets/coperta articole/Tabara_Timisoara_2023.webp'
    > 
        În perioada 6-10 septembrie 2023 am participat la tabăra
        Open Robotics Intelligent Grid, organizată de Universitatea de
        Vest din Timișoara în colaborare cu echipa de robotică CSH a
        Colegiului Naţional Pedagogic ”Carmen Sylva”.

        <br> Șase membri însoțiți de un mentor au plecat la
        Timișoara pentru a își dezvolta abilitățile și pentru a învață
        să construiască un robot în timp record. Provocarea principală a
        taberei a fost realizarea unui robot funcțional în 48 de ore,
        având la dispoziție doar piesele pe care le-am adus cu noi de la
        București. Pe lângă acumularea cunoștințelor despre mecanică și
        programare, am cunoscut multe echipe de robotică din toată țara,
        formând prietenii cu tineri pasionați de aceleași domenii ca
        noi. 
        
        <br><br> În finala competiției am fost aleși în
        alianță de echipa Modus Vivendi, alături de care am câștigat,
        după un meci spectaculos și plin de emoții. Ne-am întors acasă
        cu trofeul “Winning Alliance” și cu speranțe mari pentru
        următoarele provocări și pentru noul sezon de FTC.
    </ActivityCard>

    <!-- 30. -->
    <ActivityCard
        title = "Bootcamp Zenith"
        date = "10-21 iulie 2023"
        thumbnail = '/assets/coperta articole/Bootcamp_2023.webp'
    > 
        În vara anului 2023, clubul de robotică "Zenith" a organizat
        un bootcamp pentru noii membri. Această perioadă de pregătire a
        constat în două săptămâni în care elevii au învățat noțiuni de
        bază despre robotică, de la mentori sau membri vechi.

        <br> Prima săptămână a bootcamp-ului s-a desfășurat
        fizic, în SmartLab-ul din cadrul Colegiului Național "Grigore
        Moisil". Acesta a început cu o introducere în ceea ce înseamnă
        FIRST Tech Challenge, iar după multe informații teoretice despre
        robotică, departamentul de mecanică a trebuit să construiască un
        robot inspirat din sezonul PowerPlay. S-au desfășurat și cursuri
        de CAD, iar astfel elevii au învățat să proiecteze diverse piese
        în Fusion 360, dar și să le printeze folosind imprimante 3D. De
        asemenea, departamentul de programare a prezentat câteva
        aplicații realizate cu ajutorul plăcilor Arduino, iar
        departamentele de grafică și PR au susținut workshop-uri în ceea
        ce privește postările de pe rețelele de socializare, design-ul
        unui afiș sau contactarea sponsorilor. 
        
        <br><br> A doua săptămână a bootcamp-ului s-a desfășurat online, iar elevii s-au
        bucurat de mai multe sesiuni de programare, grafică și PR,
        însoțite de discuții pe baza manualului de robotică GM0.
        
        <br><br> Au fost două săptămâni minunate, în care, pe
        lângă cunoștințele tehnice dobândite, noii membri au avut ocazia
        să cunoască alți oameni care au aceeași pasiune ca și ei,
        robotica.
    </ActivityCard>

    <!-- 31. -->
    <ActivityCard
        title = "EggDrop Challenge, ediția II"
        date = "20 martie 2023"
        thumbnail = '/assets/coperta articole/EggDrop_Challenge_2023.webp'
    > 
        EggDrop Challenge este un concurs organizat de Clubul de
        Robotică Zenith, în cadrul Colegiului Național „Grigore Moisil”.
        Acesta implică realizarea unui dispozitiv ce are ca scop
        protejarea unui ou, lăsat să cadă liber de la o anumită înălțime
        (etajele unu, respectiv doi).

        <br> În anul 2023 a avut loc a doua ediție a acestei
        competiții, unde creativitatea colegilor noștri și entuziasmul
        lor ne-au depășit așteptările. Pe parcursul evenimentului,
        fiecare echipă a avut posibilitatea de a-și testa dispozitivul
        de maxim două ori, fiind luată în considerare cel mai bun
        rezultat. Astfel, premiile au fost împărțite în funcție de
        performanța dispozitivelor, caietul tehnic, ce conține
        informații despre procesul construirii proiectului, și votul
        juriului. 
        
        <br><br> Ne bucurăm să promovăm
        aplicabilitatea fizicii și să observăm îndeaproape talentul și
        ingeniozitatea elevilor colegiului nostru.
    </ActivityCard>

    <!-- 32. -->
    <ActivityCard
        title = "Vizita domnului Președinte Klaus Iohannis la Colegiul Național ”Grigore Moisil”"
        date = "5 septembrie 2022"
        thumbnail = '/assets/coperta articole/Vizita_presedinte_2022.webp'
    > 
        În 2022, Clubul de Robotică Zenith a avut onoarea să-l
        întâlnească pe Președintele Klaus Iohannis. Acesta a vizitat
        Colegiul Național „Grigore Moisil” cu ocazia primei zile a anului
        școlar 2022 - 2023. Echipa noastră a prezentat în fața domnului
        Președinte însoțit de Ministrul Educației și de Primarul
        Sectorului 6 SmartLab-ul liceului, materialele de lucru și robotul
        construit pentru competiția FIRST Tech Challenge.
    </ActivityCard>
    

</BaseLayout>