---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/footer.astro";
import ActivityCard from "../components/activity_card.astro";
import HexBackground from "../components/hexbackground.astro"
---

<BaseLayout title = "Activitatea echipei">
    <NavBar activeLink = {2} />
    <HexBackground />

    <div class="title-container">
        <span class="title-underline">Activitatea Noastră</span>
    </div>
    
    <ActivityCard
        title = "Festivitatea de închidere UniCo"
        date = "03 iulie 2026"
        thumbnail = ''
    > 
        Pe 3 iulie 2026, am participat la festivitatea de încheiere a programului Universitatea Copiilor, desfășurată la Facultatea 
        de Horticultură din București. Evenimentul a reunit invitați din mediul universitar și elevi pasionați de STEM, oferindu-ne 
        oportunitatea de a promova robotica și competiția FIRST Tech Challenge. 
        
        <br>În cadrul prezentării, am demonstrat capabilitățile robotului construit de echipa noastră și am împărtășit experiența 
        trăită la Premier Events Istanbul, unde am obținut Inspire Award II. 
        Am vorbit despre parcursul nostru, provocările întâmpinate și impactul pe care robotica l-a avut asupra 
        dezvoltării noastre. Participarea la acest eveniment a reprezentat o valoroasă activitate de outreach, prin care am inspirat tinerii participanți să descopere domeniul roboticii și am demonstrat cum pasiunea și colaborarea pot conduce la performanțe remarcabile.
    </ActivityCard>

    <ActivityCard
        title = "Istanbul Premier Event"
        date = "26-28 iunie 2026"
        thumbnail = 'assets/coperta articole/istanbul.webp'
    > 
        La Premier Event Istanbul, am avut ocazia să reprezentăm România, demonstrând pasiunea și dedicarea care ne definesc. 
        Am obținut 5 victorii în cele 8 meciuri de calificare, am fost aleși ca Alliance Partner și am ajuns în semifinalele diviziei 
        Valens. 
        <br>De asemenea, am câștigat premiul <b>Inspire 2</b>, cel mai important premiu acordat în cadrul competiției.
    </ActivityCard>

    <ActivityCard
        title = "Eggdrop Challenge, ediția a V-a"
        date = "16 iunie 2026"
        thumbnail = 'assets/coperta articole/eggdrop 2026.webp'
    > 
        Pe 16 iunie 2026, am organizat a cincea ediție a concursului „Eggdrop” la Colegiul Național Grigore Moisil. Acest eveniment are loc 
        anual la școala noastră și este deschis atât elevilor de gimnaziu, cât și celor de liceu. Scopul său principal este de a oferi 
        participanților oportunitatea de a lucra în echipă, de a gândi creativ și de a-și îmbunătăți abilitățile de colaborare. 
        
        <br>Prin intermediul acestui concurs, elevii sunt încurajați să rezolve probleme împreună, să comunice eficient și să-și dezvolte 
        creativitatea într-un mediu distractiv, captivant și educativ.
    </ActivityCard>

    <ActivityCard
        title = "Sakura Scrimmage Demo"
        date = "14 iunie 2026"
        thumbnail = 'assets/coperta articole/sakura scrimmage.webp'
    > 
        Pe 14 iunie 2026, am organizat Turneul de Antrenament Sakura cu echipa ViCyber #21476. A fost oportunitatea perfectă pentru 
        echipele care se pregăteau pentru diferite evenimente din extrasezon de a exersa și de a face schimb de idei cu alte echipe. 
        Un total de 7 echipe au participat la turneu: Undefined #19112, Boogeybots #19061, Vampire Robotics #26075, Kodikas #24032, 
        NeuroX #32744, VICyber #21476, Zenith #19084.
    </ActivityCard>

    <ActivityCard
        title = "West Side Flower Fest 2026"
        date = "5-7 iunie 2026"
        thumbnail = 'assets/coperta articole/west side flower fest 2026.webp'
    > 
        În perioada 5-7 iunie 2026, echipa noastră a avut plăcerea să prezinte activitățile și proiectele noastre la evenimentul local din 
        sectorul 6 din București, West Side Flower Fest, pentru al treilea an consecutiv. A fost o plăcere să prezentăm vizitatorilor de 
        toate vârstele robotul nostru Campionat Național, roboții noștri Fable, un joc video creat de membrii echipei noastre, bazat pe 
        sezonul Into The Deep FTC, precum și alte proiecte realizate de colegii noștri de echipă. 
        
        <br>Fiecare zi a fost plină de întrebări, 
        atât din partea adulților, cât și a copiilor mici, despre activitatea noastră, FIRST Tech Challenge, la care am răspuns cu bucurie,
        oferindu-le perspective asupra lumii roboticii pentru tinerii din țara noastră.
    </ActivityCard>

    <ActivityCard
        title = "Ziua Porților Deschise 2026"
        date = "2-3 iunie 2026"
        thumbnail = 'assets/coperta articole/ziua portilor deschise 2026.webp'
    > 
        În perioada 2-3 iunie, echipa de robotică Zenith de la Colegiul Național Grigore Moisil a participat la Ziua Porților Deschise 
        a școlii pentru potențialii elevi de gimnaziu și liceu. Membrii echipei au prezentat FIRST Tech Challenge (FTC), au evidențiat 
        realizările lor anterioare și au demonstrat robotul lor. În plus, reprezentanții fiecărui departament și-au explicat rolurile, 
        oferind vizitatorilor o perspectivă completă asupra modului în care funcționează echipa, răspunzând în același timp la întrebări 
        despre concursurile și proiectele lor.
    </ActivityCard>

    <ActivityCard
        title = "Ceremonia de deschidere UniCo"
        date = "01 iunie 2026"
        thumbnail = ''
    > 
        Pe 1 iunie, am participat la activitățile organizate de Asociația Universității Copiilor, unde, împreună cu echipa ViCyber, 
        am prezentat câteva dintre proiectele și activitățile noastre de robotică. Le-am povestit copiilor despre cum construim și 
        programăm roboți, precum și despre experiențele pe care le-am acumulat prin concursuri. A fost o experiență minunată și 
        sperăm că le-am stârnit curiozitatea și interesul pentru tehnologie, știință și inovație.
    </ActivityCard>

    <ActivityCard
        title = "Din Zenith în Portugalia"
        date = "12 mai 2026"
        thumbnail = 'assets/coperta articole/from zenith to portugal.webp'
    > 
        Pe 12 mai, am avut deosebita plăcere de a primi vizita profesorilor și elevilor de la Agrupamento de Escolas de Moimenta 
        da Beira (Portugalia) la Colegiul Național „Grigore Moisil” în cadrul proiectului Erasmus, cărora le-am prezentat 
        activitatea clubului nostru. A fost o experiență interculturală, plină de energie, în cadrul căreia am avut plăcerea 
        de a schimba idei despre evoluția tehnologiei în școli cu elevi din Portugalia. Această dezbatere a demonstrat încă o 
        dată că digitalizarea și educația modernă nu cunosc granițe. Suntem extrem de recunoscători pentru acest parteneriat 
        inspirațional și așteptăm cu entuziasm viitoare colaborări care vor continua să ne lărgească orizonturile academice și 
        culturale.
    </ActivityCard>

    <ActivityCard
        title = "Piața Europeană CNGM"
        date = "07 mai 2026"
        thumbnail = ''
    > 
        Pe 7 mai 2026, echipa noastră de robotică de la Colegiul Național „Grigore Moisil” a participat la Târgul European al școlii. 
        În centrul evenimentului, am amenajat un teren demonstrativ FTC, unde vizitatorii au putut vedea robotul în acțiune și au putut 
        înțelege mai bine provocările tehnice ale competiției. A fost o oportunitate excelentă de a aduce comunitatea mai aproape de 
        valorile FTC și de a promova educația STEM, inovația și munca în echipă.
    </ActivityCard>

    <ActivityCard
        title = "Târgul de științe al școlilor"
        date = "06 mai 2026"
        thumbnail = ''
    > 
        Pe 6 mai, echipa noastră a participat la ediția de primăvară a Târgului de Științe Școlare, găzduit la București Mall (Mall Vitan). 
        Evenimentul a reunit proiecte științifice de la elevi de liceu din București, alături de demonstrații interactive și experimente 
        conduse de studenți universitari din diverse domenii STEM. Pe parcursul evenimentului, am interacționat cu participanți atât din medii academice, 
        cât și educaționale, împărtășind entuziasmul nostru pentru știință, tehnologie și inovație, prezentând în același timp perspectiva noastră asupra roboticii. 
        
        <br>Această participare a servit ca o experiență semnificativă de informare, ajutându-ne să ne consolidăm și mai mult prezența în 
        comunitatea STEM și să inspirăm interesul pentru robotică în rândul tinerilor elevi.
    </ActivityCard>

    <ActivityCard
        title = "Din Zenith în Spania"
        date = "05 mai 2026"
        thumbnail = 'assets/coperta articole/from zenith to spain.webp'
    > 
        Pe 5 mai 2026, am făcut o vizită specială la Școala Gimnazială Nr. 279, în cadrul unei activități Erasmus. În cadrul 
        întâlnirii, am avut ocazia să împărtășim pasiunea noastră pentru robotică cu un grup de elevi și profesori din Spania, 
        prezentându-le universul FTC și valorile echipei noastre. Le-am arătat ce poate face robotul nostru de competiție și 
        i-am încurajat pe tinerii elevi spanioli să exploreze domeniile STEM și să încerce să-și testeze creativitatea în 
        competiții internaționale pentru a vedea cât de departe poate ajunge un proiect tehnic dacă îți pui suflet în el.
    </ActivityCard>

    <ActivityCard
        title = "East European Comic Con 2026"
        date = "24-26 aprilie 2026"
        thumbnail = 'assets/coperta articole/comic con.webp'
    > 
        În perioada 24-26 aprilie, echipa noastră a fost principalul reprezentant al comunității de robotică la Eastern European Comic Con, 
        unde am găzduit un stand în Zona de Jocuri. Am prezentat o varietate de jocuri, inclusiv creații imprimate 3D și proiecte dezvoltate 
        de membrii echipei noastre, oferind vizitatorilor oportunitatea de a descoperi lumea roboticii și a competițiilor FTC. 
        
        <br>Atracția principală a fost o demonstrație live a robotului nostru, pe care participanții l-au putut controla singuri. 
        Această experiență a oferit o oportunitate importantă de a promova tehnologia și de a aduce publicul larg mai aproape de 
        domeniul roboticii, de comunitatea FTC și de valorile sale fundamentale.
    </ActivityCard>

    <ActivityCard
        title = "Vizită la fundația JOYO"
        date = "3 aprilie 2026"
        thumbnail = ''
    > 
        Viziă la Fundația JOYO - Pe 3 aprilie, am avut plăcerea de a fi invitați să vizităm una dintre clădirile Fundației 
        Joyo, un loc dedicat sprijinirii tinerilor și familiilor aflate în situații dificile. Am fost încântați să împărtășim 
        pasiunea noastră pentru robotică cu copiii prin activități interactive special concepute pentru ei. Am organizat 
        meciuri distractive de fotbal cu roboții Fable, care au adus multe zâmbete, precum și ateliere creative unde copiii 
        au folosit pixuri 3D pentru a-și dezlănțui imaginația. 
        
        <br>Prin intermediul acestor activități, am reușit să-i introducem 
        pe copii în lumea fascinantă a roboticii și a disciplinelor STEM. Ne-a plăcut să vedem cât de receptivi au fost copiii 
        și cât de ușor s-au conectat cu tehnologia, învățând prin joc și colaborare.
    </ActivityCard>


    <ActivityCard
        title = "I LOVE Tech, primăvara 2026"
        date = "28 martie 2026"
        thumbnail = ''
    > 
        Pe 28 martie 2026, am participat la evenimentul „I LOVE Tech”, organizat de Hipo la Sala Palatului din București. Dedicat tehnologiei, 
        inovației și viitorului, evenimentul ne-a oferit cadrul ideal pentru a prezenta activitățile și realizările noastre din sezonul FTC. 
        Pe parcursul evenimentului, ne-am conectat cu membri ai comunității inginerești, am promovat STEM și robotica în rândul tinerilor 
        entuziaști și am sporit vizibilitatea echipei noastre într-un mediu axat pe inovație.
    </ActivityCard>

    <ActivityCard
        title = "Naționala FTC - Sezonul #10 - Decode"
        date = "13-15 martie 2026"
        thumbnail = ''
    > 
        n-am text inca :(
    </ActivityCard>

    <ActivityCard
        title = "Casa Bună"
        date = "07 martie 2026"
        thumbnail = 'assets/coperta articole/casa buna.webp'
    > 
        În data de 7 martie, echipa noastră a vizitat Grădinița Casa Bună, parte a asociației Casa Bună. Am prezentat departamentele 
        echipei, FTC-ul și tema acestui an, iar copiii au fost curioși și au întrebat și despre proiectele din anii trecuți. 
        La final, le-am arătat robotul, videoclipuri cu meciurile și i-am lăsat să se joace cu Fabelii, fiind atenți și implicați 
        pe tot parcursul prezentării.
    </ActivityCard>


    <ActivityCard
        title = "Vizită la Facultatea de Inginerie Mecanică și Mecatronică"
        date = "05 martie 2026"
        thumbnail = 'assets/coperta articole/vizita fimm.webp'
    > 
        Pe 5 martie am avut ocazia să vizităm Facultatea de Inginerie Mecanică și Mecatronică. Evenimentul a fost organizat în 
        colaborare cu Clubul STEM al Colegiului Național „Grigore Moisil”, ambele cluburi prezentându-și activitățile în fața unui 
        grup de 60 de studenți din anul III.
    </ActivityCard>

    <ActivityCard
        title = "Vizită la Facultatea de Pedagogie, UNIBUC"
        date = "05 martie 2026"
        thumbnail = 'assets/coperta articole/vizita pedagogie.webp'
    > 
        Tot pe 5 martie 2026, am organizat o prezentare la Facultatea de Psihologie și Științe ale Educației, unde le-am arătat 
        studenților impactul pe care robotica îl are asupra generațiilor tinere, subliniind impactul pe care îl are asupra 
        educației elevilor ca disciplină. Studenții au avut ocazia să ne pună întrebări despre robotul nostru și despre 
        activitățile pe care le-am organizat în școli, la care am răspuns. Împreună cu demonstrația robotului, am reușit 
        să creăm o legătură între științele teoretice și cele sociale.
    </ActivityCard>


    <ActivityCard
        title = "Vizită la EATON"
        date = "04 martie 2026"
        thumbnail = 'assets/coperta articole/vizita eaton.webp'
    > 
        Pe 4 martie 2026, am organizat o prezentare la compania EATON despre activitatea clubului nostru și evoluția acestuia 
        de-a lungul anilor, cea mai recentă realizare fiind calificarea la etapa națională a competiției FTC. Toți cei prezenți 
        au putut adresa întrebări despre construcția robotului și evenimentele pe care le-am organizat, iar la final ni s-au 
        prezentat obiectivele companiei și echipamentele acestora.
    </ActivityCard>

    <ActivityCard
        title = "Divernite Workshop"
        date = "02 martie 2026"
        thumbnail = ''
    > 
        Pe 2 martie 2026, am organizat, împreună cu echipa Divernite, proiectul Future Makers de la OECD, dedicat promovării 
        conștientizării, empatiei și incluziunii proactive. Am avut-o ca vorbitoare pe psihologul Alina Costache care ne-a 
        vorbit despre importanța luării în considerare a dizabilităților invizibile. 
        
        <br>Am lucrat împreună cu echipa din Singapore, 
        am organizat un atelier de robotică, iar echipa internațională a susținut un atelier de lucru despre limbajul semnelor.
    </ActivityCard>


    <ActivityCard
        title = "Întâlnire online cu echipa GreenAms #24751"
        date = "21 februarie 2026"
        thumbnail = ''
    > 
        Pe 21 februarie 2026, am avut ocazia să ne întâlnim online cu echipa GreenAms din Hanoi, Vietnam, pentru a discuta 
        despre modul în care ambele echipe au structurat portofoliile tehnice premiate. În timpul întâlnirii, am identificat 
        câteva idei și practici valoroase pe care le-au implementat cu succes în portofoliul lor.
    </ActivityCard>

    <ActivityCard
        title = "Women in FIRST"
        date = "11 februarie 2026"
        thumbnail = ''
    > 
        Pe data de 11 februarie, echipa noastră a organizat evenimentul Women in STEM, desfășurat online pe platforma Zoom, 
        cu ocazia Zilei Internaționale a Fetelor în Știință. În cadrul întâlnirii au participat mai multe invitate 
        implicate în domeniile STEM, care au prezentat parcursul lor educațional și profesional, provocările întâlnite și 
        rolurile pe care le-au avut în echipele din care au făcut parte. Discuțiile au abordat modalități prin care fetele 
        pot fi încurajate să urmeze o carieră în domenii tehnice, precum și importanța diversității și a reprezentării 
        feminine în aceste arii, iar la final participanții au avut oportunitatea de a pune întrebări invitatelor noastre.
    </ActivityCard>

    <ActivityCard
        title = "Rezionala FTC - Sezonul #10 - Decode"
        date = "31 ianuarie - 1 februarie 2026"
        thumbnail = ''
    > 
        Etapa Regională FIRST Tech Challenge a reprezentat unul dintre cele mai importante momente inițiale ale sezonului pentru 
        echipa noastră. Competiția a reunit unele dintre cele mai bine pregătite echipe din sudul României, oferindu-ne ocazia 
        să ne testăm robotul, strategia și colaborarea într-un mediu competitiv. Pe parcursul meciurilor, am demonstrat perseverență, 
        adaptabilitate și spirit de echipă, reușind să câștigăm 4 din cele 6 meciuri și să ne asigurăm un loc la etapa națională. 
        
        <br>Un moment deosebit a fost obținerea premiului <b>Think I</b>, care recompensează demonstrarea cea mai bună a procesul de proiectare, 
        dezvoltare și documentare a robotului pe parcursul sezonului. Acest rezultat reflectă numeroasele ore de muncă, implicarea fiecărui 
        membru și dorința noastră de a evolua constant. Experiența de la Regională ne-a oferit lecții valoroase și, de asemenea 
        oportunitatea de a excela și în etapele următoare ale competiției.
    </ActivityCard>

    <ActivityCard
        title = "Centrul de zi „Sf. Andrei”"
        date = "30 ianuarie 2026"
        thumbnail = ''
    > 
        În data de 30 ianuarie, echipa noastră a fost la Centrul de Zi Sfântul Andrei pentru a prezenta celor 50 de copii 
        de la grădiniță roboții noștri. Aceștia au fost foarte fascinați de Fable și alte mici activități pe care le-am 
        pregătit pentru ei. La final le-am oferit stickere și au avut oportunitatea de a conduce chiar ei roboții Fable.
    </ActivityCard>

    <ActivityCard
        title = "Reuniți prin Robotică"
        date = "24 ianuarie 2026"
        thumbnail = 'assets/coperta articole/reuniti prin robotica 2026.webp'
    > 
        În data de 24 ianuarie am organizat Reuniți prin Robotică, a doua ediție a evenimentului nostru Uniți prin Robotică 
        de anul trecut, de această dată organizat la Mega Mall București. Scopul acestui eveniment a fost de a strânge 
        fonduri pentru a fi donate Centrului Educațional Căsuța Mariei. Banii au fost strânși prin activități cum ar fi 
        pictatul pe față al copiilor, dar și vânzare de materiale printate 3D. Înafara acestora am oferit publicului 
        demonstrații cu robotul, desen 3D și posibilitatea de a folosi alte proeicte ale clubului, precum PET.R.U.. 
        
        <br>În urma acestui eveniment am strâns suma de 740 lei ce a reprezentat un ajutor enorm pentru copiii din cadrul 
        asociației Centrului Educațional Căsuța Mariei, totodată am avut oportunitatea de a oferi publicului un mod aparte 
        de a își petrece ziua.
    </ActivityCard>

    <ActivityCard
        title = "Archival CADathon"
        date = "19 ianuarie 2026"
        thumbnail = ''
    > 
        În perioada 19-23 ianuarie, echipa noastră a organizat Archival CADathon-ul, un eveniment dedicat proiectării asistate 
        de calculator, adresat comunității FTC. Provocarea a constat în proiectarea unui dispozitiv utilizabil în expediții 
        arheologice. Pe durata evenimentului, echipele au dezvoltat concepte de design și le-au transpus în modele CAD, 
        predând fișiere STEP și o prezentare a produsului și a procesului de gândire. Proiectele au fost evaluate pe baza 
        eleganței designului, a aplicabilității în situații reale și a creativității, în cadrul unui eveniment la care au 
        participat șase echipe. Premiile oferite au fost unelte multifuncționale. Prin organizarea CADathon-ului, 
        am gestionat înscrierea echipelor, comunicarea, jurizarea și centralizarea materialelor, contribuind 
        la dezvoltarea și colaborarea în comunitatea FTC.
    </ActivityCard>

    <ActivityCard
        title = "New Orbit Demo"
        date = "04 ianuarie 2026"
        thumbnail = '/assets/coperta articole/New Orbit Demo.webp'
    > 
        Pe data de 4 ianuarie 2026 am organizat demo-ul „New Orbit” împreună cu echipele BoogeyBots #19061 și BlueSpace 
        Robotics #24155 la Școala Gimnazială Nr. 117. În cadrul acestui demo am testat robotul în meciuri amicale cu 
        celelalte echipe și am schimbat idei despre strategii și soluții tehnice. Evenimentul ne-a ajutat să evaluăm 
        performanța robotului și să identificăm direcțiile de îmbunătățire pentru sezon.
    </ActivityCard>

    <ActivityCard
        title = "Robot Buddies"
        date = "16 decembrie 2025"
        thumbnail = ''
    > 
        Echipa noastră a organizat pe 16 decembrie 2025 un atelier de robotică la Școala Generală nr. 117, destinat elevilor 
        cu tulburare de spectru autist. Scopul activității a fost să le ofere oportunitatea de a descoperi modul în care 
        funcționează roboții. Atelierul a inclus prezentarea roboților Fable și a robotului de FTC, demonstrații practice 
        și vizionarea de materiale video, oferind elevilor șansa să descopere competiția FIRST Tech Challenge. 
        
        <br>Elevii au interacționat direct cu roboții Fable și au avut posibilitatea să îi controleze, implicându-se constant 
        pe parcursul activității. Activitatea a fost interactivă și adaptată nevoilor participanților, astfel încât 
        fiecare elev să poată înțelege conceptele prezentate și să se implice activ în demonstrații.
    </ActivityCard>


    <ActivityCard
        title = "Limitless Boundaries, ediția a II-a"
        date = "14 decembrie 2025"
        thumbnail = 'assets/coperta articole/limitless boundaries 2.webp'
        thumbnailFocus = "50% 35%"
    > 
        Având în vedere succesul Conferinței „Limitless Boundaries” desfășurată pe 12 ianuarie 2025, am decis să organizăm 
        a doua ediție a evenimentului. Scopul principal al conferinței a fost de a crea o conexiune puternică cu comunitatea 
        roboticii, de a răspândi și împărtăși pasiunea pentru domeniul științific și de a dezvolta noi perspective asupra 
        organizării echipelor, încurajând în același timp participanții să depășească provocările. Prin urmare, a doua 
        ediție a „Limitless Boundaries II edition” a avut loc la Universitatea Hyperion din București. 
        
        <br>Pentru acest eveniment, am invitat numeroși vorbitori din diverse domenii care au împărtășit o parte din 
        cunoștințele și experiența lor. Prin intermediul unor vorbitori energici și al unei organizări atent coordonate, 
        completate de utilizarea instrumentelor online, echipa Zenith a reușit să creeze o atmosferă captivantă în cadrul 
        celei de-a doua ediții a Conferinței „Limitless Boundaries”. 
        
        <br>Evenimentul a reunit aproximativ 50 de participanți 
        dornici să învețe, care au fost încurajați să își depășească limitele, să nu se lase descurajați de obstacole și 
        să își continue parcursul de dezvoltare personală atât în robotică, cât și în celelalte pasiuni ale lor, într-un 
        mod echilibrat și fără presiune excesivă.
    </ActivityCard>

    <ActivityCard
        title = "SnowbotZ League Meet"
        date = "7 decembrie 2025"
        thumbnail = 'assets/coperta articole/snowbotz.webp'
        thumbnailFocus = "50% 40%"
    > 
        Pe 7 decembrie 2025, am organizat prima Întâlnire a Ligii din regiunea SUD împreună cu echipa Robo-Sapiens #19117: 
        SnowbotZ. Evenimentul a avut loc la Universitatea Româno-Americană, o locație asigurată cu sprijinul ICDL România. 
        
        <br>Opt echipe au participat la întâlnirea ligii: Clockworks #19075, Sparktech #24345, ArtRobotiX #19059, Renaissance 
        Robotics #22226, MasterMinds #21050, HYPERCUBE #20925, Robo-Sapiens #19117, Zenith #19084.
    </ActivityCard>

    <ActivityCard
        title = "Starea de bine la locul de muncă - Workshop"
        date = "3 decembrie 2025"
        thumbnail = 'assets/coperta articole/starea de bine workshop.webp'
        thumbnailFocus = "50% 55%"
    > 
        Echipa noastră, în parteneriat cu Clubul de Wellbeing al Colegiului Național „Grigore Moisil”, a organizat un atelier 
        interactiv pe 3 decembrie 2025, în sala CRED a școlii. Activitatea a fost condusă de Cristina Țirulnic, formator senior 
        cu peste 20 de ani de experiență în leadership, management și resurse umane și peste 15 ani de experiență în învățare 
        și dezvoltare. Scopul atelierului a fost de a sprijini studenții în dezvoltarea unei cariere sănătoase, promovarea 
        unor relații eficiente și crearea unui mediu de lucru echilibrat. 
        
        <br>Activitatea a inclus prezentări, discuții și 
        exerciții practice, oferind studenților oportunitatea de a aplica conceptele în situații din viața reală.
    </ActivityCard>

    <ActivityCard
        title = "Conferință Astradynamix"
        date = "08 noiembrie 2025"
        thumbnail = 'assets/coperta articole/Conferinta Astradynamix.webp'
    > 
        Pe 8 noiembrie, am participat la conferința „Construim Viitorul” organizată de echipa Astradynamix, care a avut loc 
        la Liceul Școlii Europene din București, în Sala de Evenimente. În cadrul conferinței au fost organizate trei ateliere interactive. 
        Participanții au avut ocazia să lucreze practic și să experimenteze într-un mediu colaborativ. 
        
        <br>Conferința le-a oferit participanților inspirație și motivație pentru a-și dezvolta abilitățile în domenii precum hardware și 
        marketing, precum și pasiunea pentru inovație alături de ceilalți membri ai echipelor de robotică.
    </ActivityCard>

    <ActivityCard
        title = "Scavenger Hunt"
        date = "31 octombrie 2025"
        thumbnail = ''
    > 
        Pe 31 octombrie, echipa noastră, împreună cu Vampire Robotics, a organizat o vânătoare de comori cu tematică de 
        Halloween, plină de mister și provocări, combinând spiritul Halloweenului cu pasiunea pentru robotică și jocuri logice. 
        Traseul a inclus șapte locații, fiecare prezentând un joc sau un puzzle care i-a încurajat pe participanți să gândească 
        creativ, să colaboreze și să își testeze abilitățile de observare și rezolvare a problemelor. Evenimentul a avut loc 
        în Sectorul 6, printre locațiile cheie numărându-se Parcul Drumul Taberei și Politehnica... 
        
        <br> La final, participanții s-au întors în Parcul Drumul Taberei, unde toată lumea a primit o diplomă și dulciuri, 
        în timp ce echipa câștigătoare a plecat acasă cu un coș special de Halloween. 
        
        <br>Evenimentul a oferit oportunitatea de a-și face noi prieteni, 
        a încurajat munca în echipă și a demonstrat că robotica și creativitatea pot transforma orice activitate într-o 
        experiență memorabilă, consolidând comunitatea locală de tineri pasionați de tehnologie.
    </ActivityCard>

    <ActivityCard
        title = "Hackaton la Facultatea de Inginerie Mecanică și Mecatronică"
        date = "06 octombrie 2025"
        thumbnail = 'assets/coperta articole/hackathon fimm.webp'
        thumbnailFocus = "50% 45%"
    > 
        Pe 6 octombrie 2025, 6 membri ai echipei noastre, alături de 2 mentori, au participat la Hackathon-ul organizat de 
        Facultatea de Inginerie Mecanică și Mecatronică. În timpul competiției, aceștia au fost împărțiți în echipe formate 
        din 3 elevi de liceu și 2 studenți, și au avut la dispoziție 8 ore pentru a construi un robot Line Follower. 
        
        <br>Folosind un PCB personalizat, au asamblat șasiul și au programat robotul pentru a parcurge traseul în cel mai scurt timp posibil. 
        Una dintre echipele formate de membrii echipei noastre a câștigat competiția, clasându-se pe locul 1 cu un robot 
        care a parcurs traseul în doar 30 de secunde.
    </ActivityCard>

    <ActivityCard
        title = "ROSDC"
        date = "04 octombrie 2025"
        thumbnail = ''
    > 
        Pe 4 octombrie 2025, colegii noștri au participat la etapa locală a ROSDC, în cadrul căruia au trebuit să simuleze 
        o așezare spațială, considerând atât elemente de design și sustenabilitate, cât și de marketing. 
        <br> Etapa Națională (4 calificați) - Tema: COANDAS. 
        <br> Etapa Europeană (2 calificați) - Tema: AESOP
    </ActivityCard>

    <ActivityCard
        title = "Cursul de CAD în CNGM"
        date = "01 octombrie 2025"
        thumbnail = ''
    > 
        Cursul de CAD în CNGM - Cursul CAD organizat de clubul de robotica Zenith al Colegiului National Moisil este un curs 
        de proiectare si printare 3D conceput pentru elevii liceului. Acesta a decurs in perioada octombrie-decembrie, o data 
        pe saptamana. In total au fost 8 sedinte, 6 de proiectare si 2 de printare, tinute atat online cat si fizic. 
        Varstele participantilor au variat de la 9 la 18 ani.
    </ActivityCard>

    <ActivityCard
        title = "Step into STEM"
        date = "20 septembrie 2025"
        thumbnail = 'assets/coperta articole/step into stem 2025.webp'
    > 
        Pe 20 septembrie, am organizat evenimentul Step into STEM, al cărui obiectiv educațional este promovarea științei, 
        tehnologiei și roboticii în rândul copiilor și tinerilor. Evenimentul a fost organizat în parteneriat cu Fundația 
        Autonom și echipa FTC Neurobotix #19054 și a avut loc în cadrul Târgului de Jucării „2nd Life”, găzduit de Roaba 
        de Cultură. 
        
        <br>În cadrul evenimentului, au fost prezentați doi dintre roboții construiți de echipa noastră, fiecare 
        având un rol tehnic distinct. Primul robot este conceput pentru competiții de robotică, fiind proiectat să 
        îndeplinească sarcini specifice în timpul meciurilor.Al doilea robot are un rol ecologic, fiind utilizat pentru 
        reciclarea plasticului. 
        
        <br>Acesta procesează sticle de 2L de orice fel și le transformă în filament utilizabil pentru 
        imprimante 3D, demonstrând copiilor un exemplu de utilizare responsabilă a resurselor.
    </ActivityCard>

    <!-- 1. -->
    <ActivityCard
        title = "Robotics for All"
        date = "16-17 august 2025"
        thumbnail = 'assets/coperta articole/_add_Robotics for All.webp'
    > 
        În weekend-ul 16-17 august, Mega Mall București a devenit un loc al inovației și al tehnologiei, găzduind evenimentul 
        „Robotics for All - MEGA Edition”, organizat de echipa <b>Boogeybots #19061</b>.

        <br>În cele două zile pline de entuziasm, pasionați de toate vârstele au avut ocazia să descopere lumea fascinantă 
        a roboticii și să interacționeze cu roboți realizați de echipele participante într-o atmosferă palpitantă, luând 
        parte la vizionarea unor meciuri demonstrative care au stârnit entuziasmul publicului. Tot aici s-au conturat și 
        prietenii noi, pe fondul unei pasiuni comune pentru domeniul STEM.

        <br>Le mulțumim organizatorilor pentru invitație și pentru implicarea acordată în realizarea unui eveniment memorabil. 
    </ActivityCard>

    <!-- 2. -->
    <ActivityCard
        title = "SparkHope Robotics Cup"
        date = "8-9 august 2025"
        thumbnail = '/assets/coperta articole/_add_SparkHope RC.webp'
        thumbnailFocus="50% 25%"
    > 
        În zilele de 8 și 9 august, am avut plăcerea de a lua parte la SparkHope Robotics Cup, un eveniment caritabil de tip 
        competiție offseason organizat de echipa Eastern Foxes(RO_191/19098). Evenimentul a avut loc la Ploiești, la Universitatea 
        de Petrol și Gaze, unde echipa își are hub-ul, iar scopul evenimentului a fost de a strânge fonduri pentru campania 
        <b>#SpitalePubliceDinBaniPrivați</b>.
        
        <br>Cu multă emoție și pozitivitate, echipa noastră a plecat la Ploiești, unde prima zi a fost dedicată amenajării stand-urilor, 
        alături de surprize primite din partea organizatorilor care au constat într-un escape-room detaliat și conferințe fascinante 
        cu speakeri din domeniu, de la care am aflat foarte multe informații interesante. A doua zi, însă, a adus perdeaua grea a 
        competiției mult așteptate, iar odată cu sosirea noastră în interiorul Universității, se putea simți o atmosferă ce urma să 
        erupă cu trecerea timpului.
       
        <br>Competiția în sine a fost presărată cu momente foarte bune, dar și cu câteva situații-cheie, din care am avut numai de 
        învățat pentru viitor. însă per total, aceasta ne-a adus încredere înaintea noului sezon în forțele noastre, dar a fost, totodată, 
        un moment important pentru noii noștri membri, care au avut o primă experiență la un astfel de eveniment, unde atmosfera tensionată 
        de concurs s-a îmbinat cu cunoașterea celorlalte echipe și ale strategiilor acestora de succes, de la care să ne îmbunătățim și noi.

        <br>Vrem să transmitem multe mulțumiri organizatorilor de la <b>Eastern Foxes</b> pentru implicare, seriozitate și pasiunea de care 
        dau dovadă mereu în a împinge limitele acestui domeniu minunat înspre progres. 
    </ActivityCard>

    <!-- 3. -->
    <ActivityCard
        title = "Someș Tech Challenge"
        date = "25-27 iulie 2025"
        thumbnail = '/assets/coperta articole/_add_Somes Tech Challenge.webp'
        thumbnailFocus="50% 10%"
    > 
        În perioada 25-27 iulie, am participat la competiția <b>Someș Tech Challenge</b> organizată de <b>Vectron Robotics #17873</b> 
        la Sala Sporturilor „Petru Stăvariu” Dej, Cluj.

        <br>Aceasta a reprezentat o oportunitate de a ne reface robotul de competiție de la zero, oferindu-le noilor membrii ai 
        clubului nostru șansa de a lucra la un proiect concret.

        <br>Totodată, participarea la această ediție a STC, ne-a oferit șansa să ne testăm abilitățile și noul robot, să ne bucurăm de 
        spiritul de competiție în perioada extrasezonului alături de celelalte echipe.

        <br>Mulțumim, <b>Vectron Robotics #17873</b>, pentru organizarea acestei competiții! 
    </ActivityCard>

    <!-- 4. -->
    <ActivityCard
        title = "Bootcamp + Recrutări"
        date = "23 iunie - 4 iulie, 16-18 iulie 2025"
        thumbnail = '/assets/coperta articole/_add_Bootcamp si Recrutari.webp'
        thumbnailFocus="50% 10%"
    > 
        În perioada 23 iunie-4 iulie a fost organizat bootcamp-ul pentru departamentele de <b>Programare</b> și <b>Mecanică</b>, 
        iar în perioada 16-18 iulie a fost organizat bootcamp-ul pentru departamentul non-tehnic, pentru <b>PR</b> și <b>Grafică</b>.

        <br>Recrutările s-au desfășurat în 3 etape: <b>formularul</b>, <b>interviurile</b> și <b>bootcamp-ul</b>. Interviurile au fost 
        organizate de echipa ZENITH, iar întrebările au fost puse de membrii de la departamentul specific la care candidații 
        aplicau.
        
        <br>În această perioadă am urmărit creativitatea și implicarea fiecărui candidat pentru a putea alege cât 
        mai bine membrii noi ai echipei ZENITH care ne reprezintă și pentru a oferi fiecărui participant șansa de a face 
        parte din echipă.
        
        <br><b>Perioada de bootcamp</b> reprezintă perioada în care membrii nou-veniți comunică cu membrii care au deja experiență 
        și care sunt de mult timp în club, reușind astfel să combine entuziasmul cu răbdarea și învățarea.
        
        <br>Fiecare activitate a fost gândită cu scopul de a le pune la încercare abilitățile și modul de gândire al participanților, 
        reușind să ne dea astfel o imagine asupra fiecăruia dintre ei. Exercițiile au fost diverse în funcție de fiecare departament,
        precum: monolog persuasiv la <b>PR &amp; Marketing</b>, redesign de logo la Grafică, construirea unui robot la <b>Mecanică</b> și programarea acestuia 
        la <b>Programare</b>.
        
        <br><br><b>Bootcamp-ul</b> nu a fost doar o perioadă de selectare a noilor membri, ci și o perioadă în care <b>competitivitatea</b> și <b>spiritul</b> 
        de echipă s-au îmbinat pentru a crea o echipă unită, care poate trece peste orice provocare, dar și o experiență de învățare.
    </ActivityCard>

    <!-- 5. -->
    <ActivityCard
        title = "Ziua Porților Deschise"
        date = "16 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_Ziua Portilor Deschise.webp'
        thumbnailFocus="50% 20%"
    > 
        Pe 16 iunie 2025, la Colegiul Național „Grigore Moisil” a avut loc evenimentul „Ziua Porților Deschise”. 
        Cu această ocazie, elevii de clasa a VIII-a au putut să cunoască mai bine liceul și activitatea clubului nostru, 
        dar și să afle detalii despre câteva dintre proiectele cu care ne-am remarcat la diferite competiții.

        <br> În timpul turului, am avut ocazia de a prezenta vizitatorilor laboratorul SMART. Acolo, membrii clubului 
        nostru au prezentat robotul nostru de competiție, roboții FABLE, imprimantele 3D, ochelarii VR și multe alte proiecte. 
        Mulți dintre vizitatori au fost impresionați de modul în care munca noastră combină creativitatea cu tehnologia, 
        iar întrebările lor curioase ne-au arătat că interesul pentru robotică este în continuă creștere.
        
        <br><br> Le mulțumim tuturor celor care ne-au fost alături la acest eveniment și sperăm ca experiența trăită 
        să îi inspire să ni se alăture pe viitor, transformând „Grigore Moisil” într-un loc unde pasiunea pentru robotică 
        prinde viață.
    </ActivityCard>

    <!-- 6. -->
    <ActivityCard
        title = "Tech Expo"
        date = "14-15 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_Tech Expo.webp'
        thumbnailFocus="50% 5%"
    > 
        Pe 14 și 15 iunie 2025, am participat cu stand la evenimentul Tech Expo din cadrul <b>Bucharest Tech Week</b>, 
        cel mai important festival de tehnologie din România, susținut la Romexpo, la București.

        <br> Am organizat, alături de <b>Robo-Sapiens #19117</b>, <b>Gamma #15991</b>, <b>Brave Bots #19141</b>, <b>AstraDynamix #24964</b>, 
        <b>Soft Hoarders #12560</b> și <b>AlphaBit #19120</b>, meciuri demonstrative pentru vizitatori, arătând live cum se desfășoară 
        un meci de FTC al sezonului Into The Deep și frumusețea roboticii la nivelul competițiilor pentru tineri. 
        
        <br><br> Mulțumim Universum, Bucharest Tech Week și Romexpo, pentru organizarea acestui eveniment și 
        pentru șansa oferită de a ne împărtăși cunoștințele despre STEM și First Tech Challenge cu publicul larg!
    </ActivityCard>

    <!-- 7. -->
    <ActivityCard
        title = "Opera Comică pentru Copii!"
        date = "7-8 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_OperaComica.webp'
    > 
        În weekendul 7-8 iunie 2025 am participat la Festivalul Opera Copiilor, iar vizitatorii au putut interacționa cu 
        roboții noștri, au descoperit cum funcționează imprimantele 3D și au participat la experimente interactive realizate chiar de noi.
        
        <br>Am răspuns cu entuziasm întrebărilor celor mici, le-am explicat conceptele din spatele tehnologiei prezentate și 
        le-am oferit o primă experiență în universul fascinant al științei!

        <br>Prin aceste activități, ne-am propus nu doar să prezentăm rezultatele muncii noastre, ci și să aducem tehnologia mai 
        aproape de comunitate. Am dorit să trezim interesul copiilor și adolescenților pentru domeniile STEM și să arătăm că oricine, 
        cu suficientă curiozitate și perseverență, poate contribui la inovație. 
    </ActivityCard>

    <!-- 8. -->
    <ActivityCard
        title = "West Side Flower Fest"
        date = "30 mai - 1 iunie 2025"
        thumbnail = '/assets/coperta articole/_add_FlowerFest2025.webp'
    > 
        În perioada 30 mai-1 iunie 2025, am avut prilejul de a participa la festivalul „West Side Flower Fest", 
        organizat de Primăria Sectorului 6 în Parcul Moghioroș-Drumul Taberei, festival ce s-a axat, în principal, 
        pe magia naturii îngemănată cu spectacolul pe care omul îl poate face în comuniune cu aceasta.

        <br> Cu acest gând în minte, echipa noastră s-a pregătit temeinic pentru a oferi vizitatorilor 
        o experiență de neuitat în domeniul vast al roboticii și științelor STEM, în același timp păstrând vie grija 
        față de natură și mediul înconjurător. Pe parcursul acestui eveniment am ales să ne organizăm sub forma unui 
        stand, la care să expunem cele mai importante elemente ale clubului nostru, atât din partea tehnică: Robotul FTC, 
        fables; cât și din partea non-tehnică: magneți, brelocuri, stickere.
        
        <br> Pe lângă interesul major acordat Robotului de competiție, la care echipa noastră a răspuns 
        cu multă răbdare și îndemânare, am pus la dispoziție oaspeților noștri Imprimanta 3D a clubului, cu 
        ajutorul căreia am oferit perspective noi în producerea materialelor promoționale și nu numai, iar vizitatorii, 
        vizibil interesați, au avut numeroase întrebări provocatoare, la care am răspuns cu încredere, pasiune, și multă 
        atenție la detalii.
        
        <br> Cu ajutorul unor condiții de lucru la superlativ puse la dispoziție de către organizatori, 
        clubul nostru nu numai că a reușit să ofere o experiență interesantă celor peste 1000 de vizitatori 
        și noi perspective fascinante în domeniul roboticii, ci și a reușit să ducă mai departe tradiția și 
        valorile acestui eveniment important, mereu destinate legăturii delicate a omului cu natura ce îl înconjoară.
        
        <br><br> Dorim, pe această cale, să le mulțumim organizatorilor pentru oportunitatea oferită 
        și vom participa, pe viitor, la cât mai multe astfel de evenimente urbane și interesante.
    </ActivityCard>

    <!-- 9. -->
    <ActivityCard
        title = "Astrofest"
        date = "24 mai 2025"
        thumbnail = '/assets/coperta articole/_add_Astrofest2025.webp'
        thumbnailFocus="50% 20%"
    > 
        Pe 24 mai 2025, echipa noastră a participat la <b>Astrofest 2025</b>, un eveniment 
        dedicat științei, tehnologiei și explorării spațiale. În cadrul acestuia, am avut ocazia să prezentăm 
        proiectele noastre și să împărtășim interesul pentru robotică cu un public numeros și entuziast.

        <br> La standul nostru, vizitatorii au putut explora diferite prototipuri și sisteme realizate 
        de echipă, au interacționat direct cu roboții construiți și au aflat detalii despre competițiile și 
        activitățile în care suntem implicați. Ne-am bucurat să răspundem întrebărilor, să inspirăm tinerii 
        interesați de domeniul tehnologic și să schimbăm idei cu alți pasionați de inovație.
    </ActivityCard>

    <!-- 10. -->
    <ActivityCard
        title = "Robotics Quest"
        date = "10 mai 2025"
        thumbnail = '/assets/coperta articole/_add_Robotics Quest.webp'
        thumbnailFocus="50% 30%"
    > 
         Pe 10 mai 2025, la ParkLake Shopping Center, am organizat, împreună cu echipele 
        <b>RoboSapiens #19117</b> și <b>ILC Robotix #25149</b>, evenimentul 
        <i>Robotics Quest</i>. Vizitatorii au avut ocazia să descopere roboți, tehnologii de imprimare 
        3D și să afle mai multe despre activitățile noastre și despre domeniul roboticii.

        <br> Evenimentul a inclus ateliere de pictură, realizare de figurine 3D, meciuri 
        demonstrative cu roboți și activități interactive pentru toate vârstele, care au stârnit 
        curiozitate și entuziasm. Participanții au avut ocazia să experimenteze tehnologia într-un 
        mod practic și atractiv, iar noi ne-am bucurat să inspirăm și să atragem persoane pasionate 
        de știință, inovație și robotică.
    </ActivityCard>

    <!-- 11. -->
    <ActivityCard
        title = "Eggdrop Challenge, ediția 4"
        date = "31 aprilie 2025"
        thumbnail = '/assets/coperta articole/_add_Eggdrop_Edit4.webp'
    > 
        În data de 31 aprilie, în curtea Colegiului Național „Grigore Moisil”, am avut 
        plăcerea de a organiza a 4-a ediție a competiției <b>EggDrop Challenge</b>, un eveniment 
        important în comunitatea atât a clubului, cât și a liceului.

        <br> În cadrul evenimentului, elevii de gimnaziu au avut ocazia să concureze unii 
        împotriva altora într-un concurs ce evidențiază creativitatea și spiritul de echipă, 
        punându-le la încercare abilitățile de gândire critică și ingeniozitate tehnică. Participanții 
        au trebuit să construiască dispozitive menite să protejeze un ou crud de impactul unei căderi 
        de la înălțime, folosind materiale simple și accesibile.
        
        <br> Dispozitivele au fost evaluate ținând cont de mai multe puncte de vedere, 
        cum ar fi rezistența, originalitatea și prezentarea acestora în fața juriului.
        
        <br><br> Evenimentul s-a încheiat cu zâmbete, aplauze și mult entuziasm, lăsând în 
        urmă nu doar câștigători, ci și amintiri frumoase și dorința de a reveni la edițiile viitoare.
    </ActivityCard>

    <!-- 12. -->
    <ActivityCard
        title = "Conferința „Power of Now”"
        date = "11 aprilie 2025"
        thumbnail = '/assets/coperta articole/_add_Power of Now.webp'
    > 
        Pe data de 11 aprilie 2025 am participat la Conferința „Power of Now”, 
        organizată de <b>Fundația The Duke of Edinburgh's International Award Romania 
        la Universitatea Româno-Americană</b>.
            
        <br> În cadrul acesteia am avut ocazia de a prezenta activitatea clubului 
        nostru, promovând totodată domeniul STEM în rândul tinerilor și nu numai, 
        evidențiind importanța inovației și a colaborării.
        
        <br><br> De asemenea, discursurile celor 10 speakeri ne-au inspirat să muncim, 
        indiferent de situație, în continuare, pentru visul nostru, demonstrând că perseverența, 
        curajul și motivația sunt esențiale pentru succes.
    </ActivityCard>

    <!-- 13. -->
    <ActivityCard
        title = "Evenimentul „I LOVE Tech”"
        date = "29 martie 2025"
        thumbnail = '/assets/coperta articole/_add_I Love Tech.webp'
        thumbnailFocus="50% 30%"
    > 
        Ziua de 29 martie 2025 a fost dedicată pasionaților de tehnologie, 
        inovație și viitor, iar pentru noi, a fost ocazia perfectă pentru a ne 
        împărtăși experiențele și pasiunea pentru ceea ce facem, în cadrul evenimentul 
        "I LOVE Tech", organizat de Hipo la Sala Palatului din București.

        <br> Am avut oportunitatea de a prezenta clubul nostru, promovând 
        robotica în rândul tinerilor și nu numai, interacționând și cu reprezentanți 
        ai companiilor de top. Schimburile de idei, întrebările primite și interesul 
        real manifestat față de proiectele noastre ne-au motivat să să continuăm drumul 
        cu entuziasm și curaj.
        
        <br><br> Activitatea noastră a atras atenția mass-mediei, iar prin 
        interviul difuzat la Digi 24 am avut ocazia să îi încurajăm pe elevi să fie 
        curioși și să se implice în domeniul STEM!
    </ActivityCard>

    <!-- 14. -->
    <ActivityCard
        title = "Regionala FIRST Tech Challenge - Sezonul #9"
        date = "7-9 februarie 2025"
        thumbnail = '/assets/coperta articole/_add_Regionala9.webp'
    > 
        Regionala Sud a sezonului #9 din cadrul concursului FIRST Tech 
        Challenge a reprezentat o experiență intensă, plină de competiție, 
        prietenie și descoperiri. Evenimentul a reunit zeci de echipe pasionate 
        de robotică, oferind un cadru unde inovația, munca de echipă și 
        creativitatea au fost în prim-plan.

        <br> Am avut ocazia să ne demonstrăm abilitățile tehnice, dar 
        și să evidențiem valorile care definesc echipa. Meciurile pline de emoții, 
        interviurile și activitățile de la stand au fost momentele definitorii 
        ale Regionalei.
        
        <br><br> Atmosfera competiției și cele 5 meciuri câștigate din 
        totalul de 6 ne-au motivat să dăm tot ce avem mai bun, ajutându-ne să 
        creștem ca echipă și să ducem pasiunea pentru robotică la un nou nivel.
    </ActivityCard>

    <!-- 15. -->
    <ActivityCard
        title = "Uniți prin Robotică"
        date = "23-24 ianuarie 2025"
        thumbnail = '/assets/coperta articole/Uniti_prin_robotica.webp'
        thumbnailFocus="50% 25%"
    > 
        În perioada 23-24 ianuarie 2025, cu ocazia Micii Uniri, am
        organizat evenimentul "Uniți prin Robotică", ce a avut scopul de a
        inspira comunitatea și de a demonstra cum pasiunea pentru domeniul
        STEAM poate uni generații.

        <br> În cadrul acestuia au avut loc ateliere de pictură,
        de creat figurine 3D, meciuri de fotbal cu roboții Fable și
        demonstrații cu robotul FTC, oferindu-le vizitatorilor ocazia de
        a descoperi câteva aplicații practice ale roboticii.
        
        <br><br> La eveniment au participat echipele Broboți,
        Titans și Robo-Sapiens, cărora le mulțumim pentru implicare! De
        asemenea, mulțumim Plaza România pentru spațiul oferit!
    </ActivityCard>

    <!-- 16. -->
    <ActivityCard
        title = "Urmează-ți pasiunea! - Conferința Limitless Boundaries"
        date = "12 ianuarie 2025"
        thumbnail = '/assets/coperta articole/Limitless_Boundaries.webp'
    > 
        Pe 12 ianuarie, am organizat conferința „Limitless
        Boundaries”, un eveniment dedicat depășirii limitelor din calea
        succesului. Participanți de toate vârstele au avut ocazia să
        întâlnească invitați din domeniul STEM, care au împărtășit povești
        despre provocările întâlnite și modalitățile prin care au reușit
        să le depășească, ajungând niște persoane extraordinare.

        <br> Invitații noștri - Adelina Biliuță (Alumni Volta
        Circuits #20972 și Nație prin Educație), Ioan Nistor (Senior
        Database Architect Oracle) , Daria Gheorghiaș (Team Leader
        Broboți #19176), Andru Duminică (Alumni RoSophia #21455 ), Ioana
        Preda (Team Leader Zenith), Irina Nicolescu (Lider PR &amp;
        Marketing Zenith), Mihai Bobeică (Alumni Zenith) și Andrei
        Iatagan (Alumni Zenith) - au relatat momentele definitorii din
        viețile lor, atât cele dificile, cât și cele bune, arătându-ne
        că visele pot deveni realitate cu perseverență și pregătire.
        
        <br><br> Mulțumim Facultății de Transporturi din cadrul
        Universității Naționale de Știință și Tehnologie Politehnica
        București pentru sprijinul acordat și pentru punerea la
        dispoziție a unei săli încăpătoare, dar mai ales mulțumim
        tuturor participanților care au contribuit la succesul acestui
        eveniment!
    </ActivityCard>

    <!-- 17. -->
    <ActivityCard
        title = "De Crăciun, fii mai bun! - Spiridușii Moșului"
        date = "18 decembrie 2024"
        thumbnail = '/assets/coperta articole/Spiridusii_mosului.webp'
        thumbnailFocus="50% 70%"
    > 
         Cu ocazia apropierii Crăciunului, am decis ca pe 18
        decembrie 2024 să surprindem elevii de gradinița Centrului de zi
        „Sfântul Andrei” din Drumul Taberei cu o prezentare a roboților și
        câteva surprize.

        <br> Pe parcursul activității, le-am prezentat celor 30
        de copii pe scurt în ce constă competiția FTC și le-am aratat
        cum funcționează roboții fable și un robot construit în cadrul
        colaborării noastre cu NextLab, surprinzând magia roboților. În
        urma prezentării, le-am împărțit copiilor mai multe ornamente
        realizate cu ajutorul imprimantelor 3D, stickere tematice
        sărbătorii Crăciunului, cu mascota echipei noastre, cei mici
        fiind fascinați de toate lucrurile pe care le poți realiza
        datorită tehnologiei. Astfel, am avut șansa să le facem o
        bucurie copiilor, înainte de vacanța de iarnă, și să arătăm
        frumusețea roboticii chiar și celei mai mici generații,
        utilizând spiritul Crăciunului.
    </ActivityCard>

    <!-- 18. -->
    <ActivityCard
        title = "Târgul Caritabil de Crăciun în CNGM"
        date = "13 decembrie 2024"
        thumbnail = '/assets/coperta articole/Targ_caritabile.webp'
        thumbnailFocus="50% 92%"
    > 
        Pe data de 13 decembrie 2024, am participat la Târgul
        Caritabil de Crăciun organizat de Consiliul Școlar al Elevilor din
        cadrul Colegiului Național „Grigore Moisil”.

        <br> Pentru standul nostru, am pregătit figurine și
        decorațiuni pentru bradul de Crăciun, printate cu ajutorul
        imprimantelor 3D. În cadrul târgului le-am explicat elevilor și
        modalitatea de obținere a produselor pe care le-am vândut,
        astfel că aceștia au devenit curioși și interesați de
        activitatea noastră. Ne-am bucurat că am putut să îmbinăm
        domeniul tehnologiei cu faptele bune și să contribuim la
        oferirea meselor calde pentru copiii din cadrul Fundației Joyo,
        locul unde au ajuns toți banii strânși.
    </ActivityCard>

    <!-- 19. -->
    <ActivityCard
        title = "Atelier de robotică, alături de Nextlab"
        date = "20 noiembrie 2024"
        thumbnail = '/assets/coperta articole/Nextlab.webp'
    > 
        Pe data de 20 noiembrie, am avut bucuria de a participa,
        alături de alți elevi ai Colegiului Național „Grigore Moisil”, la
        o prezentare fascinantă susținută de reprezentanți ai NextLab,
        având ca subiect roboții ArmPi Pro. Evenimentul a fost o
        oportunitate extraordinară de a explora atât partea practică, cât
        și cea teoretică a utilizării acestor roboți avansați.

        <br> În cadrul sesiunilor practice, am lucrat în echipe
        pentru a pune în aplicare ceea ce am învățat, ceea ce ne-a
        permis să îmbunătățim colaborarea și coordonarea în grup. Un alt
        aspect memorabil al evenimentului a fost organizarea unor mici
        concursuri de către echipa NextLab, care au adus un plus de
        entuziasm și motivație. Aceste competiții ne-au pus la încercare
        gândirea logică, viteza de reacție și spiritul inovativ,
        transformând învățarea într-o experiență plăcută și dinamică.
        
        <br><br> Evenimentul organizat de NextLab a fost mai
        mult decât o simplă demonstrație - a fost o sursă de inspirație
        și o experiență care ne-a îmbogățit atât cunoștințele, cât și
        pasiunea pentru tehnologie.
    </ActivityCard>

    <!-- 20. -->
    <ActivityCard
        title = "Atelier de robotică - Festivalul Toamnei"
        date = "7 noiembrie 2024"
        thumbnail = '/assets/coperta articole/Atelier_de_robotica.webp'
    > 
        Pe data de 7 noiembrie 2024, am organizat un atelier de
        robotică pentru elevii de gimnaziu, în cadrul Festivalului
        Toamnei, organizat de Consiliul Școlar al Elevilor din Colegiul
        Național „Grigore Moisil”.

        <br> Scopul atelierului a fost de a le prezenta copiilor
        roboții Fable și de a îi învăța cum se pot programa aceștia. Au
        fost încurajați să lucreze în echipă, să colaboreze și să își
        împărtășească ideile pentru a găsi cele mai eficiente soluții
        pentru a simula un meci de fotbal între roboți. Entuziasmul
        elevilor și dorința lor de a testa cât mai multe comenzi pentru
        acești roboți ne-a demonstrat că pasiunea pentru domeniul
        tehnologiei este prezentă încă de la o vârstă fragedă, astfel că
        prin activitățile noastre ne propunem să îi încurajăm să fie
        curioși și să descopere, pas cu pas, acest domeniu.
    </ActivityCard>

    <!-- 21. -->
    <ActivityCard
        title = "Alături de elevi - Zenith prin școli"
        date = "7 octombrie 2024 - 4 februarie 2025"
        thumbnail = '/assets/coperta articole/Alaturi_de_elevi.webp'
        thumbnailFocus="50% 30%"
    > 
        În perioada 7 octombrie 2024 - 4 februarie 2025, am susținut
        prezentări la 10 școli gimnaziale, respectiv: Școala Gimnazială
        „Sfinții Voievozi”, Școala Gimnazială „Orizont”, Școala Gimnazială
        Nr. 142, Școala Gimnazială „Sfinții Constantin și Elena”, Școala
        Gimnazială Nr. 169, Școala Gimnazială „Regina Maria”, Școala
        Gimnazială Nr. 117, Școala Gimnazială Nr. 195, Școala Gimnazială
        Nr. 279 și Școala Gimnazială Nr. 174.

        <br> În cadrul fiecărei prezentări, am realizat câte o
        descriere a concursului FTC și a departamentelor echipei noastre
        de robotică, evidențiindu-le elevilor valorile FIRST.
        Prezentările noastre au inclus, de asemenea, demonstrații cu
        roboți Fable și roboți construiți din kiturile educaționale
        oferite de NextLab.
        
        <br><br> Prin aceste activități,
        le-am oferit elevilor șansa să-și descopere pasiunea pentru
        domeniile STEAM, respectiv lumea roboticii.
    </ActivityCard>

    <!-- 22. -->
    <ActivityCard
        title = "Premiul pentru Digitalizare - Gala Elevului Bucureștean"
        date = "6 octombrie 2024"
        thumbnail = '/assets/coperta articole/Premiu_pentru_digitalizare.webp'
    > 
        În data de 6 octombrie, am participat la Gala Elevului
        Bucureștean, organizată de Consiliul Municipal al Elevilor
        București, la secțiunea de „Digitalizare”, unde am prezentat
        activitățile clubului nostru, întorcându-ne acasă cu premiul
        acestei categorii.

        <br> Faptul că am putut promova robotica într-un
        eveniment dedicat nu numai elevilor pasionați de tehnologie, ci
        întregii comunități școlare, a reprezentat un moment de
        recunoștință față de ce am realizat, și, în același timp, o
        acțiune care ne-a inspirat să continuăm să motivăm, la rândul
        nostru, alte persoane.
    </ActivityCard>

    <!-- 23. -->
    <ActivityCard
        title = "Promovând știința - Noaptea Cercetătorilor"
        date = "27 septembrie 2024"
        thumbnail = '/assets/coperta articole/Promovand_Stiinta.webp'
    > 
        Pe data de 27 septembrie 2024, am participat ca expozanți,
        în colaborare cu Asociația „Universitatea Copiilor”, la Noaptea
        Cercetătorilor Europeni, din București. Ne-am prezentat cu un
        proiect realizat de doi dintre membrii noștri, numit PET.R.U., ce
        reciclează sticle uzuale de PET și creează filament din acestea ce
        poate fi folosit la printarea de obiecte 3D.

        <br> Publicul principal, copiii, a fost captivat de
        inițiativa noastră de a recicla. Faptul că putem atribui o nouă
        întrebuințare unui material este un prilej optim de a fi mai
        sustenabili și de a încuraja persoanele din jurul nostru să se
        implice în acțiuni ecologice. Un lucru pe care l-am observat la
        acest eveniment a fost faptul că, în afară de ceea ce am expus
        la stand, nu au mai existat și alte activități interactive.
        Astfel, ne-am propus ca pe viitor, acolo unde este posibil, să
        introducem mai multe activități în care să fie implicat și publicul.
    </ActivityCard>

    <!-- 24. -->
    <ActivityCard
        title = "Finalist Alliance - Open Robotics Intelligent Grid "
        date = "1-8 septembrie 2024"
        thumbnail = '/assets/coperta articole/Tabara_Timisoara_2024.webp'
    > 
        În perioada 1-8 septembrie 2024, am fost prezenți la tabăra
        Open Robotics Intelligent Grid, organizată de Universitatea de
        Vest din Timișoara și de echipa de robotică CSH, a Colegiului
        Național Pedagogic „Carmen Sylva”.

        <br> Echipa participantă a fost formată din nouă membri
        și un mentor. Pregătiți pentru orice provocare, am întâmpinat
        entuziasmați tema de joc a taberei. Cu motivația de a oferi cele
        mai bune versiuni ale lor, cinci zile mai târziu, reprezentanții
        Clubului de Robotică „Zenith” au debutat cu un robot care a
        impresionat prin inovație. 
        
        <br><br> Meciurile au avut loc la Iulius Mall Timișoara, într-o atmosferă plină de suspans.
        Am fost aleși în alianță în semifinala concursului de către
        echipa Teoretika, câștigând meciul și trecând, mai departe, în
        finală. Alături de ei am trăit momentele finalei cu multă
        emoție. În urma rezultatelor, am obținut locul al doilea și
        trofeul „Finalist Alliance”. 
        
        <br><br> Tabăra Open Robotics Intelligent Grid a fost un prilej minunat de pregătire
        pentru următorul sezon al competiției FTC. Totodată, am format
        noi legături, prietenii, cu celelalte echipe de robotică,
        împărtășind împreună cunoștințe și amintiri.
    </ActivityCard>

    <!-- 25. -->
    <ActivityCard
        title = "Ne mărim echipa! - Bootcamp Zenith"
        date = "8-19 iulie 2024"
        thumbnail = '/assets/coperta articole/Bootcamp_2024.webp'
    > 
        În perioada 8 - 19 iulie 2024, s-a desfășurat bootcamp-ul
        Clubului de Robotică Zenith, în SmartLab-ul Colegiului Național
        „Grigore Moisil”.

        <br> Asemenea bootcamp-ului din 2023, acesta a avut ca
        scop recrutarea noilor membri pasionați de robotică. Cei care au
        fost admiși la bootcamp în urma interviurilor din luna iunie, au
        asistat la prezentări generale ale celor 4 departamente -
        mecanică, programare, grafică și PR - și au avut ocazia să
        transpună în practică informațiile dobândite.
        
        <br><br> Pregătirea pentru departamentul de grafică a
        constat în realizarea diverselor materiale promoționale cu
        design-ul echipei noastre, iar pentru departamentul de PR au
        avut loc ședințe despre administrarea rețelelor de socializare
        și contactarea sponsorilor. Nu în ultimul rând, cei care și-au
        dorit să facă parte din departamentul de mecanică au avut șansa
        să-și aprofundeze cunoștințele în proiectarea 3D, prin
        intermediul programului Autodesk Fusion, iar, alături de grupa
        de programare, au reușit, până la finalul celor 2 săptămâni de
        bootcamp, să proiecteze, să asambleze și să programeze un robot
        funcțional. 
        
        <br><br> În final, am simulat atmosfera de
        concurs printr-o mini-competiție inspirată de tema de joc de
        acum doi ani, PowerPlay. 
        
        <br><br> Bootcamp-ul de anul
        acesta a reprezentat o șansă pentru fiecare participant să își
        dezvolte aptitudinile practice la nivelul roboticii, alături de
        persoane ce împărtășesc aceeași pasiune.
    </ActivityCard>

    <!-- 26. -->
    <ActivityCard
        title = "EggDrop Challenge, ediția III"
        date = "16 aprilie 2024"
        thumbnail = '/assets/coperta articole/EggDrop_Challenge_2024.webp'
    > 
        Pe data de 16 aprilie 2024, s-a desfășurat concursul EggDrop
        Challenge, organizat de Clubul de Robotică Zenith, în cadrul
        Colegiului Național „Grigore Moisil”.

        <br> Aceasta a fost a treia ediție a concursului devenit
        deja tradiție a clubului. EggDrop Challenge a fost și anul
        acesta un prilej de entuziasm atât pentru participanți, cât și
        pentru cei care au făcut posibilă desfășurarea sa. Dispozitivele
        au respectat cerințele enumerate în regulamentul concursului,
        iar echipele au reușit să obțină punctaje satisfăcătoare. Am
        fost foarte încântați să observăm elevi de liceu, dar și colegi
        mai mici, din gimnaziu, implicându-se în domeniul STEM.
        
        <br><br> Astfel, am realizat că, prin evenimente pe
        care le organizăm, contribuim cu pași mici în comunitatea
        noastră și ne îndeplinim mai departe misiunea clubului.
    </ActivityCard>

    <!-- 27. -->
    <ActivityCard
        title = "Motivate Award III - Regională FIRST Tech Challenge"
        date = "26-28 ianuarie 2024"
        thumbnail = '/assets/coperta articole/Echipa_regionala.webp'
    > 
        În luna ianuarie 2024, Clubul de Robotică Zenith a
        participat la etapa regională, organizată la București, a
        competiției internaționale FIRST Tech Challenge. Acolo am
        prezentat juraților viziunea noastră asupra robotului, alături de
        activitatea desfășurată de-a lungul sezonului, cât și în
        extrasezon. De asemenea, am menționat evenimentele la care am fost
        invitați, alături de cele organizate în cadrul Colegiului Național
        „Grigore Moisil” și concursurile de tip League Meets la care am participat.

        <br> Datorită oportunității de a fi prezenți atât la
        Regională, cât și la League Meets, am avut șansa să cunoaștem
        echipe extraordinare, să împărtășim cunoștințe și să ne ajutăm
        reciproc. Am descoperit metode noi de îmbunătățire a robotului
        și, indiferent de obstacolele întâlnite, am rămas uniți și am
        cultivat, mai departe, spiritul de Gracious Professionalism.
        
        <br><br> În urma implicării noastre în comunitatea
        concursului în calitate de voluntari și de organizatori ai mai
        multor evenimente, am obținut locul al III-lea la categoria
        Motivate Award. Acesta a devenit primul premiu non-tehnic
        dobândit până acum de echipa noastră.
    </ActivityCard>

    <!-- 28. -->
    <ActivityCard
        title = "Primirea delegației Organizației pentru Cooperare și Dezvoltare Economică"
        date = "6 decembrie 2023"
        thumbnail = '/assets/coperta articole/Delegatie_OCDE_2023.webp'
    > 
        Pe data de 6 decembrie 2023 am susținut o prezentare a
        proiectelor noastre în fața unei delegații din partea Organizației
        pentru Cooperare și Dezvoltare Economică (OCDE). Evenimentul a
        reprezentat o oportunitate unică de a împărtăși viziunea și
        realizările echipei noastre în domenii de mare actualitate și importanță.

        <br> Proiectele prezentate au fost structurate în jurul a
        două teme principale: "Smart City" și "Colonizarea planetei
        Marte". În acest context, am transformat laboratorul SMART din
        cadrul colegiului într-o reprezentare a planetei Marte, în timp
        ce laboratorul de fizică a fost configurat să reprezinte planeta
        Pământ. Pe "planeta Marte" am prezentat robotul de FTC și
        roboții de tip Fable, ce demonstrează abilitățile noastre în
        domeniul roboticii și al ingineriei avansate. Aceste proiecte au
        evidențiat potențialul tehnologic necesar pentru explorarea și
        colonizarea altor planete. Pe "planeta Pământ" am prezentat o
        gamă variată de soluții inteligente pentru mediul urban. Printre
        proiectele noastre, s-au numărat o casă inteligentă, un lift
        funcțional cu senzori și mini roboți-mașină lego cu semaforizare
        automată. 
        
        <br><br> În plus, am simulat centre de cercetare avansată în domenii precum optică, 
        energie nucleară și medicină, folosind aparatură și imagini specifice. Aceste centre
        au fost menite să ilustreze complexitatea și diversitatea cercetărilor științifice 
        care pot contribui la dezvoltarea tehnologică și științifică a societății. 
        
        <br><br> Ne bucurăm că am avut oportunitatea de a ne prezenta proiectele în
        fața unei audiențe atât de prestigioase și că am contribuit la
        promovarea domeniului STEM!
    </ActivityCard>

    <!-- 29. -->
    <ActivityCard
        title = "Winning Alliance - Open Robotics Intelligent Grid "
        date = "2-10 septetmbrie 2023"
        thumbnail = '/assets/coperta articole/Tabara_Timisoara_2023.webp'
    > 
        În perioada 6-10 septembrie 2023 am participat la tabăra
        Open Robotics Intelligent Grid, organizată de Universitatea de
        Vest din Timișoara în colaborare cu echipa de robotică CSH a
        Colegiului Naţional Pedagogic ”Carmen Sylva”.

        <br> Șase membri însoțiți de un mentor au plecat la
        Timișoara pentru a își dezvolta abilitățile și pentru a învață
        să construiască un robot în timp record. Provocarea principală a
        taberei a fost realizarea unui robot funcțional în 48 de ore,
        având la dispoziție doar piesele pe care le-am adus cu noi de la
        București. Pe lângă acumularea cunoștințelor despre mecanică și
        programare, am cunoscut multe echipe de robotică din toată țara,
        formând prietenii cu tineri pasionați de aceleași domenii ca
        noi. 
        
        <br><br> În finala competiției am fost aleși în
        alianță de echipa Modus Vivendi, alături de care am câștigat,
        după un meci spectaculos și plin de emoții. Ne-am întors acasă
        cu trofeul “Winning Alliance” și cu speranțe mari pentru
        următoarele provocări și pentru noul sezon de FTC.
    </ActivityCard>

    <!-- 30. -->
    <ActivityCard
        title = "Bootcamp Zenith"
        date = "10-21 iulie 2023"
        thumbnail = '/assets/coperta articole/Bootcamp_2023.webp'
    > 
        În vara anului 2023, clubul de robotică "Zenith" a organizat
        un bootcamp pentru noii membri. Această perioadă de pregătire a
        constat în două săptămâni în care elevii au învățat noțiuni de
        bază despre robotică, de la mentori sau membri vechi.

        <br> Prima săptămână a bootcamp-ului s-a desfășurat
        fizic, în SmartLab-ul din cadrul Colegiului Național "Grigore
        Moisil". Acesta a început cu o introducere în ceea ce înseamnă
        FIRST Tech Challenge, iar după multe informații teoretice despre
        robotică, departamentul de mecanică a trebuit să construiască un
        robot inspirat din sezonul PowerPlay. S-au desfășurat și cursuri
        de CAD, iar astfel elevii au învățat să proiecteze diverse piese
        în Fusion 360, dar și să le printeze folosind imprimante 3D. De
        asemenea, departamentul de programare a prezentat câteva
        aplicații realizate cu ajutorul plăcilor Arduino, iar
        departamentele de grafică și PR au susținut workshop-uri în ceea
        ce privește postările de pe rețelele de socializare, design-ul
        unui afiș sau contactarea sponsorilor. 
        
        <br><br> A doua săptămână a bootcamp-ului s-a desfășurat online, iar elevii s-au
        bucurat de mai multe sesiuni de programare, grafică și PR,
        însoțite de discuții pe baza manualului de robotică GM0.
        
        <br><br> Au fost două săptămâni minunate, în care, pe
        lângă cunoștințele tehnice dobândite, noii membri au avut ocazia
        să cunoască alți oameni care au aceeași pasiune ca și ei,
        robotica.
    </ActivityCard>

    <!-- 31. -->
    <ActivityCard
        title = "EggDrop Challenge, ediția II"
        date = "20 martie 2023"
        thumbnail = '/assets/coperta articole/EggDrop_Challenge_2023.webp'
    > 
        EggDrop Challenge este un concurs organizat de Clubul de
        Robotică Zenith, în cadrul Colegiului Național „Grigore Moisil”.
        Acesta implică realizarea unui dispozitiv ce are ca scop
        protejarea unui ou, lăsat să cadă liber de la o anumită înălțime
        (etajele unu, respectiv doi).

        <br> În anul 2023 a avut loc a doua ediție a acestei
        competiții, unde creativitatea colegilor noștri și entuziasmul
        lor ne-au depășit așteptările. Pe parcursul evenimentului,
        fiecare echipă a avut posibilitatea de a-și testa dispozitivul
        de maxim două ori, fiind luată în considerare cel mai bun
        rezultat. Astfel, premiile au fost împărțite în funcție de
        performanța dispozitivelor, caietul tehnic, ce conține
        informații despre procesul construirii proiectului, și votul
        juriului. 
        
        <br><br> Ne bucurăm să promovăm
        aplicabilitatea fizicii și să observăm îndeaproape talentul și
        ingeniozitatea elevilor colegiului nostru.
    </ActivityCard>

    <!-- 32. -->
    <ActivityCard
        title = "Vizita domnului Președinte Klaus Iohannis la Colegiul Național ”Grigore Moisil”"
        date = "5 septembrie 2022"
        thumbnail = '/assets/coperta articole/Vizita_presedinte_2022.webp'
    > 
        În 2022, Clubul de Robotică Zenith a avut onoarea să-l
        întâlnească pe Președintele Klaus Iohannis. Acesta a vizitat
        Colegiul Național „Grigore Moisil” cu ocazia primei zile a anului
        școlar 2022 - 2023. Echipa noastră a prezentat în fața domnului
        Președinte însoțit de Ministrul Educației și de Primarul
        Sectorului 6 SmartLab-ul liceului, materialele de lucru și robotul
        construit pentru competiția FIRST Tech Challenge.
    </ActivityCard>
    

    <Footer />
</BaseLayout>