---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
import Footer from "../components/footer.astro"
import Hexbackground from "../components/hexbackground.astro"

import NotificationPopup from "../components/notification_popup.astro"
import NotificationStack from "../components/notification_stack.astro"

import HeroSection from "../components/main/hero_section.astro"
// import TextTypewriter from "../components/main/text_typewriter.astro";
import RebrandingSection from "../components/main/rebranding_section.astro"

import TextSection from "../components/main/text_section.astro";
import VideoSection from "../components/main/video_section.astro";
import VideoTextSplitSection from "../components/main/video_text_split_section.astro";
---

<BaseLayout title = "Acasa">
    <NavBar activeLink = {0} has_margin = {false}/>
    <Hexbackground />
    

    <NotificationStack side="left" top="100px">
        
        <NotificationPopup 
            text="Aruncă un ochi asupra performanței noastre la unul dintre cele mai prestigioase evenimente FTC!"
            image="/assets/stiri/istanbul/event icon.png"
            storage_entry="istanbul"
            link="/news/#event-istanbul"
            side = 'left'
            intensity="bold"
            
            delay={5500}
        />
        <NotificationPopup 
            text="Am creat și un joc despre FTC care sigur o să îți placă!"
            image="/assets/Super Into the Deep Icon.png"
            storage_entry="jocintothedeep"
            link="#gamenotif-id"
            side = 'left'
            intensity="subtle"
            imageZoom={0.8}
            imagePosY="-5px"
            
            delay={120}
        />
    </NotificatioNStack>

    <HeroSection 
        motto = 'Visions above ground'
        subtitle = "Echipa de robotică a Colegiului Național „Grigore Moisil”"
        robotImage = "/assets/render_sq.png"
        modelSrc="/model robot bengos decode.glb"
    />

    <TextSection
        title = "Despre noi"
    >
        Zenith, echipa de robotică a Colegiului Național „Grigore Moisil”, este mai mult decât un club destinat tinerilor pasionați 
        de tehnologie. Este comunitatea noastră, dedicată inovației și creativității într-unul dintre cele mai fascinante domenii 
        ale secolului nostru: robotica. Uniți de această pasiune comună, muncim zi de zi pentru a ajunge la un nivel cât mai înalt, 
        participând la diverse concursuri naționale și internaționale. Pentru noi, Zenith a devenit un spațiu de dezvoltare personală 
        și profesională, unde fiecare membru își aduce aportul unic, contribuind la succesul colectiv. Fiecare provocare este o 
        oportunitate de a ne extinde cunoștințele și de a inova, iar sprijinul reciproc și colaborarea ne ajută să depășim orice 
        obstacol și să evoluăm. 

    </TextSection>

    <VideoTextSplitSection
        url = '/assets/echipa/Grup mare fresh.webp'
        title = "Misiunea clubului"
        text_align = 'center'
    >
        Promovarea domeniului STEAM și a gândirii tehnice în rândul elevilor. 
    </VideoTextSplitSection>

    <VideoSection url = 'https://www.youtube.com/watch?v=Masc7eAALss' />

    <!-- jocu lui tuthankamon -->
     <VideoTextSplitSection
        url = '/assets/Super Into the Deep Bootsplash.png'
        title = "Vezi și jocul nostru!"
        text_align = 'center'
    >
        <span id = 'gamenotif-id'></span>
        Pasionați de sezonul #9 al competiției FIRST Tech Challenge, „<span style = 'color: rgb(33, 103, 255);'>Into The Deep</span>”, 
        doi dintre membrii echipei au creat un joc captivant și interactiv care simulează întocmai tema concursului și meciurile între echipe, 
        alături de multe alte elemente de conținut adăugate de ei. Jocul este exclusiv pentru controllere (preferabil de PlayStation 3) 
        și poate fi jucat de 1, 2 sau 4 jucători la același calculator.
        <br>
        <a class = 'link' target="_blank" href = 'https://galaxy11232.itch.io/super-into-the-deep'>Accesează jocul aici!</a>
    </VideoTextSplitSection>

    <TextSection
        title = "Rebranding"
    >
        Povestea noastră începe în anul 2020, când, un grup de tineri din clasele a X-a și a XI-a de la Colegiul Național „Grigore Moisil” 
        au înființat, cu ajutorul profesorului nostru coordonator, doamna profesor de fizică Mihaela Garabet, echipa SovaTech. 
        Anii au trecut, iar membrii care au adus inițiativa de a se dezvolta în domeniul STEAM au devenit mentori, lăsând în urma 
        lor o nouă generație care să perpetueze activitatea clubului. Noua generație, învăţând din greşelile seriei anterioare, a 
        făcut un pas mai departe, aducând o nouă viziune în club și, astfel, şi-a propus să se reinventeze sub numele Zenith. 

    </TextSection>
    <RebrandingSection />

    <div style = 'margin-bottom: 5rem;'></div>
    

    <!-- sliders -->
    <TextSection title = "Valorile Noastre" text_align = 'center' />
    <section class="targets">
        <div class="swiper mySwiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
            <div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transform: translate3d(-487px, 0px, 0px); transition-delay: 0ms;" id="swiper-wrapper-fbfb0de524431075a" aria-live="polite">
            <div class="swiper-slide" role="group" aria-label="1 / 5" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -180px) rotateX(0deg) rotateY(90deg) scale(1); z-index: -1;">
                <div class="obiectiv">
                <h2 class="titlu">Colaborare</h2>
                <p class="paragraf">
                    Mediul de lucru colaborativ ne permite schimbul liber de idei,
                    împărtășirea cunoștințelor și dezvoltarea prieteniilor.
                    Meseriile viitorului se vor baza pe muncă în echipă, iar clubul
                    nostru promovează acest soft skill.
                </p>
                </div>
            <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 1.8; transition-duration: 0ms;"></div>
            <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
        </div>

            <div class="swiper-slide swiper-slide-visible swiper-slide-prev" role="group" aria-label="2 / 5" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -90px) rotateX(0deg) rotateY(45deg) scale(1); z-index: 0;">
                <div class="obiectiv">
                <h2 class="titlu">Inovație</h2>
                <p class="paragraf">
                    Prin intermediul proiectelor noastre vrem să aducem în prezent
                    generația inginerilor de mâine. Dorim să arătăm importanța și
                    puterea gândirii inovative și creative, susținute de
                    cunoștințele exacte.
                </p>
                </div>
            <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 0.9; transition-duration: 0ms;"></div>
            <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
        </div>
            
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="3 / 5" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">
                <div class="obiectiv">
                <h2 class="titlu">Gracious professionalism</h2>
                <p class="paragraf">
                    Încurajarea unei competiții bazate pe respect și corectitudine,
                    în care scopul principal nu este câștigul, ci ajutor reciproc.
                    Astfel, performanța devine un pretext pentru dezvoltarea
                    personală și profesională a participanților.
                </p>
                </div>
            <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
            <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
        </div>

            <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="4 / 5" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -90px) rotateX(0deg) rotateY(-45deg) scale(1); z-index: 0;">
                <div class="obiectiv">
                <h2 class="titlu">Responsabilitate</h2>
                <p class="paragraf">
                    Această valoare stă la baza planificării și organizării
                    activităților noastre, dar și la stabilirea obiectivelor pe
                    termen scurt și lung, obținând astfel rezultatul dorit.
                    Responsabilitatea în cadrul clubului este esențială, calitate
                    necesară oricărui adult în devenire.
                </p>
                </div>
            <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
            <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 0.9; transition-duration: 0ms;"></div>
        </div>

            <div class="swiper-slide" role="group" aria-label="5 / 5" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -180px) rotateX(0deg) rotateY(-90deg) scale(1); z-index: -1;">
                <div class="obiectiv">
                <h2 class="titlu">Perseverență</h2>
                <p class="paragraf">
                    Dorința noastră este de a progresa și de a ne îmbunătăți
                    activitatea, învățând ceva util din fiecare zi. Doar prin
                    perseverență vom putea ajunge la performanța dorită și tocmai de
                    aceea considerăm că aceasta este una dintre valorile definitorii
                    ale echipei noastre.
                </p>
                </div>
            <div class="swiper-slide-shadow-left swiper-slide-shadow-coverflow" style="opacity: 0; transition-duration: 0ms;"></div>
            <div class="swiper-slide-shadow-right swiper-slide-shadow-coverflow" style="opacity: 1.8; transition-duration: 0ms;"></div>
        </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </section>

    <Footer />
</BaseLayout>