---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
---


<BaseLayout>
    <NavBar activeLink = {0}/>
    nigger

    <div style = "margin-bottom: 1000px"></div>
</BaseLayout>