---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
import Hexbackground from "../components/hexbackground.astro"
---


<BaseLayout title = "Acasa">
    <NavBar activeLink = {0}/>
    
    <Hexbackground />
    <div style = "margin-bottom: 1000px"></div>
</BaseLayout>