---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
import Footer from "../components/footer.astro";
import Hexbackground from "../components/hexbackground.astro";

import ResultCard from "../components/result_card.astro";
import ResultsTimeline from "../components/results_timeline.astro";

import StatsCard from "../components/stats_card.astro";

import teamMembers from "./api/members.json";
import volunteers from "./api/volunteers.json";
import mentors from "./api/mentors.json";
---

<BaseLayout title = "Rezultatele Noastre">
    <NavBar activeLink = {3}/>
    <Hexbackground />
     
    <div class="stats-grid">
        <StatsCard end = {14} label = "Sponsori & Parteneri" icon = "/assets/icons/Sponsori__2_.webp" duration = {850} />
        <StatsCard end = {23} label = "Evenimente organizate" icon = "/assets/icons/Evenimente_organizate.webp" duration = {900} />
        <StatsCard end = {67} label = "Participare evenimente" icon = "/assets/icons/Participare_evenimente.webp" duration = {950} />
        <StatsCard end = {8700} label = "Tineri în comunitate" icon = "/assets/icons/Comunitate__2_.webp" duration = {1000} />
        <StatsCard end = {15} label = "Concursuri" icon = "/assets/icons/Concursuri__1_.webp" duration = {1050} />
        <StatsCard end = {Object.keys(teamMembers).length} label = "Membri" icon = "/assets/icons/Membri.webp" duration = {1100} />
        <StatsCard end = {Object.keys(volunteers).length} label = "Voluntari" icon = "/assets/icons/Membri.webp" duration = {1150} />
        <StatsCard end = {Object.keys(mentors).length} label = "Mentori" icon = "/assets/icons/Membri.webp" duration = {1200} />
    </div>

    <div class="title-container">
        <span class="title-underline">Rezultatele echipei</span>
    </div>
    
    <ResultsTimeline>
        <ResultCard
            date = 'Iunie 2026'
            title = "INSPIRE Award, 2nd Place"
            image = 'assets/rezultate/decode inspire 2.png'
            scale_factor = {1}
        >
            La Premier Event Istanbul, am avut ocazia să reprezentăm România, demonstrând pasiunea și dedicarea care ne definesc. 
            Am obținut 5 victorii în cele 8 meciuri de calificare, am fost aleși ca Alliance Partner, iar alianța noastră am ajuns 
            în semifinalele diviziei Valens. De asemenea, am câștigat premiul <b>Inspire 2</b> în cadrul diviziei Valens, unul dintre cel 
            mai important premiu acordat în competiție.
        </ResultCard>

        <ResultCard
            date = 'Martie 2026'
            title = "Think Award, 1st Place"
            image = 'assets/rezultate/decode think 1.png'
            scale_factor = {1}
        >
            La etapa națională a competiției First Tech Challenge, echipa noastră a obținut prestigiosul premiu Think 1. 
            Acest premiu, acordat în urma unei jurizări, revine echipei care reflectă cel mai bine parcursul său pe durata 
            sezonului. Pentru noi, a reprezentat o recunoaștere a muncii, perseverenței și progresului din spatele fiecărei etape.
        </ResultCard>

        <ResultCard
            date = 'Ianuarie - Februarie 2026'
            title = "Think Award, 1st Place"
            image = 'assets/rezultate/decode think 1.png'
            scale_factor = {1}
        >
            La etapa regională FTC, echipa noastră a obținut Think I, premiu care recunoaște documentarea și aplicarea excelentă a 
            procesului de proiectare și dezvoltare a robotului. Am câștigat 4 din 6 meciuri și am încheiat competiția cu un Ranking 
            Score (RS) de 3,5, demonstrând progres și consecvență.
        </ResultCard>

        <ResultCard
            date = 'Aprilie 2025'
            title = "Finalist Alliance Captain"
            image = '/assets/rezultate/Spring Starts with Flowers.png'
        >
            Am participat la Demo-ul "Spring starts with Flowers" organizat de echipele Neurobotix(#19054) 
            și Robo-Sapiens(#19117), iar în baza unei performanțe remarcabile a robotului și a echipajului nostru, 
            am reușit să încheiem concursul în poziția de "Finalist Alliance Captain", premiu ce ne-a dat încredere 
            în puterile noastre înaintea extrasezonului și a viitorului an de competiție.
        </ResultCard>


        <ResultCard
            date = 'Februarie 2025'
            title = "13ᵗʰ Place Quals (5/6 wins)"
            image = '/assets/rezultate/FIRST_DIVE-intothedeep-PatchLogo.png'
        >
            Noul sezon FTC Into The Deep ne-a adus o performanță remarcabilă în cadrul Regionalei Sud 2025, 
            organizată la Pitești, unde am încheiat calificările cu 5 victorii din 6 meciuri jucate, 
            clasându-ne pe locul 13, din care vom rămâne nu doar cu un rezultat foarte bun, dar și cu o 
            experiență pe care niciunul dintre noi nu o va uita prea curând. 
        </ResultCard>


        <ResultCard
            date = 'Septembrie 2024'
            title = "Finalist Alliance"
            image = '/assets/rezultate/Tabara_Timisoara_-_transparenta.png'
        >
            În cadrul taberei de vară Open Robotics Intelligent Grid de la Timișoara, organizată de Facultatea de Vest 
            din Timișoara în colaborare cu echipa de robotică CSH, am ajuns până în finale, plasându-ne 
            în clasament pe locul II. 
        </ResultCard>


        <ResultCard
            date = 'Ianuarie 2024'
            title = "Motivate Award III"
            image = '/assets/rezultate/Center_Stage__2_.png'
        >
            În cadrul sezonului 2023-2024 al competiției internaționale de robotică FIRST Tech Challenge, la etapa regională 
            din București, am obținut premiul Motivate Award, locul III. Acesta indică implicarea deosebită a echipei 
            noastre în comunitatea concursului prin promovarea valorilor FIRST, cum ar fi Gracious Professionalism. 
        </ResultCard>


        <ResultCard
            date = 'Septembrie 2023'
            title = "Winning alliance"
            image = '/assets/rezultate/Tabara_Timisoara_-_transparenta.png'
        >
            În cadrul taberei de vară Open Robotics Intelligent Grid de la Timișoara, organizată de Facultatea de Vest din 
            Timișoara în colaborare cu echipa de robotică CSH, am făcut parte din alianța câștigătoare, întorcându-ne 
            acasă cu premiul cel mare.
        </ResultCard>

        <ResultCard
            date = 'Ianuarie 2022'
            title = "Design Award III"
            image = '/assets/rezultate/Freight_Frenzy__3_.png'
        >
            În anul sezonul 2021-2022 al competiției internaționale de robotică FIRST Tech Challenge, 
            echipa noastră, sub numele de SovaTech, a primit premiul Design Award, locul III, 
            la etapa regională din București, pentru integrarea elementelor de design industrial, 
            în mod funcțional și estetic, în aspectul robotului realizat. 
        </ResultCard>

        <ResultCard
            date = 'Ianuarie 2021'
            title = "Think Award II"
            image = '/assets/rezultate/Ultimate_Goal.png'
        >
            În cadrul sezonului 2020-2021 al competiției internaționale de robotică FIRST Tech Challenge, 
            clubul nostru, cu numele de SovaTech, a obținut premiul Think Award, locul II, la etapa 
            regională din București, acordat pentru caietul tehnic creat care a prezentat în mod exemplar 
            robotul și strategia de joc. 
        </ResultCard>

    </ResultsTimeline>
    
    <Footer />
</BaseLayout>

<style is:global>
    .page {
        padding: 3rem 1.5rem;
    }

    .stats-grid {
        max-width: 72rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        padding: 3rem 1rem;
    }

    @media (max-width: 1160px) {
        .stats-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 520px) {
        .stats-grid {
            grid-template-columns: 1fr;
        }
    }

</style>