---
import LiquidGlass from 'liquid-glass-react';
import LiquidGlassView from '../React/components/LiquidGlassView';

const home_button_src = "/assets/Logo_mov.png";

// selected link prop
const { activeLink = -1 } = Astro.props;
const links = [
    { name: "Acasă", href: "/" },
    { name: "Echipă", href: "/echipa" },
    { name: "Activitate", href: "/activitate" },
    { name: "Rezultate", href: "/rezultate" },
    { name: "Sponsori", href: "/sponsori" },
    { name: "Galerie", href: "/galerie" },
    { name: "Contact", href: "/contact" },
    { name: "Balatro", href: "/balatro" }
]
---

<nav>
        <div class = 'home-container'>
            <a class = 'navbar-home scale-hover' href="/"> <img style = "width: calc(var(--min-height) - 5px);" src = {home_button_src} alt="Home" /> </a>
        </div>

        <div class = 'links-container'>
            <!-- genereaza dinamic linkurile -> se poate atribui din index activeLink prop -->
            {
                links.map((link, index) => {
                    return (<a 
                        class = {`navbar-link scale-hover ${activeLink === index ? "active" : ""}`}
                        href = {link.href}
                    > 
                        {link.name} 
                    </a>);
                })
            }
        </div>
</nav>

<div>
    <LiquidGlassView />
</div>

<div class = 'nav-margin'></div>

<script>
    document.addEventListener('astro:page-load', () => {
        const nav = document.querySelector("nav") as HTMLElement;

        window.onscroll = function() {
            var yOffset = window.pageYOffset || document.body.scrollTop;
            if (yOffset > 20) {
                nav.style.backgroundColor = "#aaa0"
            } else {
                nav.style.backgroundColor = "var(--navbar_bg_color)";
            }
        }
    });
</script>

<style>
    :root {
        --navbar_bg_color: #000;
        --navlink_underline_color: rgb(104, 0, 184);
        --glow_color: rgb(183, 89, 255);
        --home-container_width: 30%;
        --home_width: 125px;
        --min-height: 50px;
        --navbar_padding: .5rem;
        --height_beneath: calc(
            var(--min-height) + 
            (var(--navbar_padding) * 2)
        )
    }

    nav {
        position: fixed;
        top: 0px; left: 0; right: 0;
        padding: var(--navbar_padding);
        z-index: 10;

        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--navbar_bg_color);

        min-height: var(--min-height);
        transition: 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);    
    }

    a img {
        display: block;
        margin: auto;
        height: auto; width: var(--home_width)
    }

    /* .nav-margin { margin-bottom: var(--height_beneath); } */

    .scale-hover { transition: .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) } /* Ease-out back */
    .scale-hover:hover, .active { transform: scale(1.05); }

    .home-container { 
        display: flex; 
        justify-content: center;
        width: var(--home-container_width); 
    }

    .links-container { 
        display: flex; 
        justify-content: flex-end; 
        width: calc(100% - var(--home-container_width)); 
        gap: 1rem;
        margin-right: 1rem;
    }

    .navbar-home {
        margin-left: 1rem;
    }

    .navbar-link {
        font-size: 1.25rem;
        font-weight: normal;
        text-decoration: none;
        transition: .25s cubic-bezier(0.445, 0.05, 0.55, 0.95); /* Ease-in-out sine */
    }
    .navbar-link:hover {
        /* font-weight: bold; */
        text-shadow:
            0 0 3px var(--glow_color),
            0 0 4px var(--glow_color),
            0 0 5px var(--glow_color);
    }

    .navbar-link{ display: inline-block }
    .navbar-link::after, .active::after { 
        content: '';
        width: 100%; height: 1.5px;
        opacity: 0;
        display: block;
        background-color: var(--navlink_underline_color);
        transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .active::after { height: 2px; }

    .navbar-link:hover::after,
    .navbar-link:focus::after,
    .active::after { 
        opacity: 1;
        transform: translateY(2px);
    }

</style>

