---
import LiquidGlass from 'liquid-glass-react';

const home_button_src = "/assets/Logo_mov.png";

// selected link prop
const { activeLink = -1 } = Astro.props;
const links = [
    { name: "Acasă", href: "/" },
    { name: "Echipă", href: "/echipa" },
    { name: "Activitate", href: "/activitate" },
    { name: "Rezultate", href: "/rezultate" },
    { name: "Sponsori", href: "/sponsori" },
    { name: "Galerie", href: "/galerie" },
    { name: "Contact", href: "/contact" },
    { name: "Balatro", href: "/balatro" }
]
---
<div class="navbar-fixed-container">
    <LiquidGlass
        client:only="react"
        blurAmount={0.4}
        elasticity={0}
        className='glass-wrapper'
    >
        <nav>
            <div class = 'home-container'>
                <a class = 'navbar-home scale-hover' href="/"> <img style = "width: calc(var(--min-height) - 5px);" src = {home_button_src} alt="Home" /> </a>
            </div>

            <div class = 'links-container'>
                <!-- genereaza dinamic linkurile -> se poate atribui din index activeLink prop -->
                {
                    links.map((link, index) => {
                        return (<a 
                            class = {`navbar-link scale-hover ${activeLink === index ? "active" : ""}`}
                            href = {link.href}
                        > 
                            {link.name} 
                        </a>);
                    })
                }
            </div>
        </nav>
    </LiquidGlass>
</div>

<div class = 'nav-margin'></div>

<script>
    document.addEventListener('astro:page-load', () => {
        const nav = document.querySelector("nav") as HTMLElement;

        window.onscroll = function() {
            var yOffset = window.pageYOffset || document.body.scrollTop;
            // if (yOffset <= 20) {
            //     nav.style.backgroundColor = "#aaa0"
            // } else {
            //     nav.style.backgroundColor = "var(--navbar_bg_color)";
            // }
        }
    });
</script>


<!-- navbar.css -->
<style></style>