---
const home_button_src = "/assets/Logo_mov.png";

// selected link prop
const { activeLink = -1 } = Astro.props;
const links = [
    { name: "Acasă", href: "/" },
    { name: "Echipă", href: "/echipa" },
    { name: "Activitate", href: "/activitate" },
    { name: "Rezultatele", href: "/rezultate" },
    { name: "Sponsori", href: "/sponsori" },
    { name: "Galerie", href: "/galerie" },
    { name: "Contact", href: "/contact" }
]
---
<nav>
    <div class = 'home-container'>
        <a class = 'navbar-home scale-hover' href="/"> <img style = "width: calc(var(--min-height) - 5px);" src = {home_button_src} alt="Home" /> </a>
    </div>

    <div class = 'links-container'>
        <div class="gtranslate_wrapper"></div>
        <!-- genereaza dinamic linkurile -> se poate atribui din index activeLink prop -->
        {
            links.map((link, index) => {
                return (<a 
                    class = {`navbar-link scale-hover ${activeLink === index ? "active" : ""}`}
                    href = {link.href}
                > 
                    {link.name} 
                </a>);
            })
        }
    </div>
</nav>


<div class = 'nav-margin'></div>

<script>
    function update_background() {
        const nav = document.querySelector("nav") as HTMLElement;
        var yOffset = window.pageYOffset || document.body.scrollTop;
        
        if (yOffset <= 20) {
            nav.style.background = "transparent";
            nav.style.backdropFilter = "none";
        } else {
            nav.style.background = "var(--navbar_bg_color)";
            nav.style.backdropFilter = "var(--navbar_bg_filter)";
        }
    }
    
    ['astro:page-load', 'DOMContentLoaded'].forEach((ev) => {
        document.addEventListener(ev, () => {
            update_background();
            window.addEventListener("scroll", update_background);
        });
    });
</script>

<!-- navbar.css -->